= simple_form_for(@sponsorships_business) do |f|
  = f.error_notification

  .form-inputs
    -# = f.input :sponsor_id, as: :string
    = f.label t('activerecord.attributes.shared.vendor')
    = f.collection_select :vendor_id, Sponsor.all, :id, :business_name
    -# = f.input :sponsored_id, as: :string
    = f.label t('activerecord.attributes.shared.sponsor')
    = f.collection_select :sponsor_id, Sponsor.all, :id, :business_name
    -# = f.input :marketing_campaign_id, as: :string
    = f.label t('activerecord.attributes.shared.campaign')
    = f.collection_select :marketing_campaign_id, Marketing::Campaign.all, :id, :title
    = f.input :start_date
    = f.input :end_date

  .form-actions
    = f.button :submit
