.portal.edit
  .row
    %h1= t('views.sponsorships_businesses.edit.title')

    = render 'form'

    = link_to t('views.nav.show'), @sponsorships_business
    \|
    = link_to t('views.nav.back'), sponsorships_businesses_path
