.portal.index
  .row
    %h1= t('views.sponsorships_businesses.index.title')

    %table
      %tr
        %th= t('activerecord.attributes.shared.vendor')
        %th= t('activerecord.attributes.shared.sponsor')
        %th= t('activerecord.attributes.shared.marketing_campaign_title')
        %th= t('activerecord.attributes.shared.start_date')
        %th= t('activerecord.attributes.shared.end_date')
        %th= t('activerecord.attributes.shared.active')
        %th
        %th
        %th

      - @sponsorships_businesses.each do |sponsorships_business|
        %tr
          %td= sponsorships_business.d_vendor_business_name
          %td= sponsorships_business.d_sponsor_business_name
          %td= sponsorships_business.d_marketing_campaign_title
          %td= sponsorships_business.d_start_date
          %td= sponsorships_business.d_end_date
          %td= sponsorships_business.d_active
          %td= link_to t('views.nav.show'), sponsorships_business
          %td= link_to t('views.nav.edit'), edit_sponsorships_business_path(sponsorships_business)
          %td= link_to t('views.nav.destroy'), sponsorships_business, :method => :delete, :data => { :confirm => t('prompts.destroy_record') }

    %br

    = link_to t('views.nav.new'), new_sponsorships_business_path
