.portal.show
  .row
    .portal.show.columns-left
    .portal.show.columns-center
    %p#notice= notice
    %h1= t('views.sponsorships_businesses.show.title')

    %table.table-settings

      %tr
        %td.caption
          = t('activerecord.attributes.shared.vendor')
        %td.information
          = @sponsorships_business.d_vendor_business_name
      %tr
        %td.caption
          = t('activerecord.attributes.shared.sponsor')
        %td.information
          = @sponsorships_business.d_sponsor_business_name
      %tr
        %td.caption
          = t('activerecord.attributes.shared.marketing_campaign_title')
        %td.information
          = @sponsorships_business.d_marketing_campaign_title
      %tr
        %td.caption
          = t('activerecord.attributes.shared.start_date')
        %td.information
          = @sponsorships_business.d_start_date
      %tr
        %td.caption
          = t('activerecord.attributes.shared.end_date')
        %td.information
          = @sponsorships_business.d_end_date
      %tr
        %td.caption
          = t('activerecord.attributes.shared.active')
        %td.information
          = @sponsorships_business.active

    = link_to t('views.nav.edit'), edit_sponsorships_business_path(@sponsorships_business), { id: 'link_show_edit'}
    \|
    = link_to t('views.nav.back'), sponsorships_businesses_path, { class: 'link_show_back'}
    .portal.show.columns-right
