= simple_form_for(@staff) do |f|
  = f.error_notification

  .form-inputs
    = f.input :first_name
    = f.input :last_name
    = f.input :staff_role_id
    = f.input :note
    = f.input :disabled

  .form-actions
    = f.button :submit
