.portal.index
  .row
    %h1= t('views.staffs.index.title')

    %table
      %tr
        %th= t('activerecord.attributes.shared.first_name')
        %th= t('activerecord.attributes.shared.last_name')
        %th= t('activerecord.attributes.shared.staff_role_id')
        %th= t('activerecord.attributes.shared.note')
        %th= t('activerecord.attributes.shared.disabled')
        %th
        %th
        %th

      - @staffs.each do |staff|
        %tr
          %td= staff.d_first_name
          %td= staff.d_last_name
          %td= staff.d_staff_role_id
          %td= staff.d_note
          %td= staff.d_disabled
          %td= link_to t('views.nav.show'), staff
          %td= link_to t('views.nav.edit'), edit_staff_path(staff)
          %td= link_to t('views.nav.destroy'), staff, :method => :delete, :data => { :confirm => t('prompts.destroy_record') }

    %br

    = link_to t('views.nav.new'), new_staff_path
