.portal.show
  .row
    .portal.show.columns-left
    .portal.show.columns-center
    %p#notice= notice
    %h1= t('views.staffs.show.title')

    %table.table-settings

      %tr
        %td.caption
          = t('activerecord.attributes.shared.first_name')
        %td.information
          = @staff.d_first_name
      %tr
        %td.caption
          = t('activerecord.attributes.shared.last_name')
        %td.information
          = @staff.d_last_name
      %tr
        %td.caption
          = t('activerecord.attributes.shared.staff_role_id')
        %td.information
          = @staff.d_staff_role_id
      %tr
        %td.caption
          = t('activerecord.attributes.shared.note')
        %td.information
          = @staff.d_note
      %tr
        %td.caption
          = t('activerecord.attributes.shared.disabled')
        %td.information
          = @staff.d_disabled

    = link_to t('views.nav.edit'), edit_staff_path(@staff), { id: 'link_show_edit'}
    \|
    = link_to t('views.nav.back'), staffs_path, { class: 'link_show_back'}
    .portal.show.columns-right