= simple_form_for(@marketing_campaign) do |f|
  = f.error_notification

  .form-inputs
    -#ToDo Create selects
    = f.input :title
    = f.input :description

    = f.label t('activerecord.attributes.shared.marketing_channel')
    = f.collection_select :marketing_channel_id, Marketing::Channel.all, :id, :title


    = f.label t('activerecord.attributes.shared.advertisements_rotation_title')
    = f.collection_select :advertisements_rotation_id, Advertisements::Rotation.all, :id, :title


    -#= f.input :marketing_channel_id, as: :string
    -#= f.input :sponsors_sponsor_id, as: :string
    = f.input :start_date
    = f.input :end_date
    = f.input :sent
    = f.input :responses
    = f.input :signups
    = f.input :notes
    = f.input :archived

  .form-actions
    = f.button :submit
