.portal.edit
  .row
    %h1= t('views.marketing_campaigns.edit.title')

    = render 'form'

    = link_to t('views.nav.show'), @marketing_campaign
    \|
    = link_to t('views.nav.back'), marketing_campaigns_path
