.portal.index
  .row
    %h1= t('views.marketing_campaigns.index.title')

    %table
      %tr
        %th= t('activerecord.attributes.shared.title')
        %th= t('activerecord.attributes.shared.description')
        %th= t('activerecord.attributes.shared.marketing_channel')
        %th= t('activerecord.attributes.shared.advertisements_rotation_title')
        %th= t('activerecord.attributes.shared.firm')
        %th= t('activerecord.attributes.shared.start_date')
        %th= t('activerecord.attributes.shared.end_date')
        %th= t('activerecord.attributes.shared.sent')
        %th= t('activerecord.attributes.shared.responses')
        %th= t('activerecord.attributes.shared.signups')
        %th= t('activerecord.attributes.shared.notes')
        %th= t('activerecord.attributes.shared.archived')
        %th
        %th
        %th

      - @marketing_campaigns.each do |marketing_campaign|
        %tr
          %td= marketing_campaign.d_title
          %td= marketing_campaign.d_description
          %td= marketing_campaign.d_marketing_channel_title
          %td= marketing_campaign.d_advertisements_rotation_title
          %td= marketing_campaign.d_sponsor_business_name
          %td= marketing_campaign.d_start_date
          %td= marketing_campaign.d_end_date
          %td= marketing_campaign.d_sent
          %td= marketing_campaign.d_responses
          %td= marketing_campaign.d_signups
          %td= marketing_campaign.d_notes
          %td= marketing_campaign.d_archived
          %td= link_to t('views.nav.show'), marketing_campaign
          %td= link_to t('views.nav.edit'), edit_marketing_campaign_path(marketing_campaign)
          %td= link_to t('views.nav.destroy'), marketing_campaign, :method => :delete, :data => { :confirm => t('prompts.destroy_record') }

    %br

    = link_to t('views.nav.new'), new_marketing_campaign_path
