.portal.show
  .row
    .portal.show.columns-left
    .portal.show.columns-center
    %p#notice= notice
    %h1= t('views.marketing_campaigns.show.title')

    %table.table-settings

      %tr
        %td.caption
          = t('activerecord.attributes.shared.title')
        %td.information
          = @marketing_campaign.d_title
      %tr
        %td.caption
          = t('activerecord.attributes.shared.description')
        %td.information
          = @marketing_campaign.d_description
      %tr
        %td.caption
          = t('activerecord.attributes.shared.marketing_channel')
        %td.information
          = @marketing_campaign.d_marketing_channel_title
      %tr
        %td.caption
          = t('activerecord.attributes.shared.advertisements_rotation_title')
        %td.information
          = @marketing_campaign.d_advertisements_rotation_title
      %tr
        %td.caption
          = t('activerecord.attributes.shared.firm')
        %td.information
          = @marketing_campaign.d_sponsor_business_name
      %tr
        %td.caption
          = t('activerecord.attributes.shared.start_date')
        %td.information
          = @marketing_campaign.d_start_date
      %tr
        %td.caption
          = t('activerecord.attributes.shared.end_date')
        %td.information
          = @marketing_campaign.d_end_date
      %tr
        %td.caption
          = t('activerecord.attributes.shared.sent')
        %td.information
          = @marketing_campaign.d_sent
      %tr
        %td.caption
          = t('activerecord.attributes.shared.responses')
        %td.information
          = @marketing_campaign.d_responses
      %tr
        %td.caption
          = t('activerecord.attributes.shared.signups')
        %td.information
          = @marketing_campaign.d_signups
      %tr
        %td.caption
          = t('activerecord.attributes.shared.notes')
        %td.information
          = @marketing_campaign.d_notes
      %tr
        %td.caption
          = t('activerecord.attributes.shared.archived')
        %td.information
          = @marketing_campaign.d_archived

    = link_to t('views.nav.edit'), edit_marketing_campaign_path(@marketing_campaign), { id: 'link_show_edit'}
    \|
    = link_to t('views.nav.back'), marketing_campaigns_path, { class: 'link_show_back'}
    .portal.show.columns-right
