.row
  .small-6.columns
    %h4= t('views.sponsors_details.edit.title')

    = render 'form'

    = link_to t('views.nav.cancel'), @sponsors_detail
    -# \|
    -# = link_to t('views.nav.cancel'), sponsors_details_path
