.row
  .small-8.columns
    %p#notice= notice
    %h4= t('views.sponsors_details.show.title')
    %table.table-settings

      %tr
        %td.small-4
          %b= t('activerecord.attributes.shared.company_name')
        %td
          = @sponsors_detail.d_company_name
      %tr
        %td
          %b=  t('activerecord.attributes.shared.last_name')
        %td
          = @sponsors_detail.d_contact_last_name
      %tr
        %td
          %b=  t('activerecord.attributes.shared.first_name')
        %td
          = @sponsors_detail.d_contact_first_name
      %tr
        %td
          %b=  t('activerecord.attributes.shared.phone_1')
        %td
          = @sponsors_detail.d_phone_1
      %tr
        %td
          %b=  t('activerecord.attributes.shared.phone_2')
        %td
          = @sponsors_detail.d_phone_2
      %tr
        %td
          %b= t('activerecord.attributes.shared.website')
        %td
          = @sponsors_detail.d_website
      %tr
        %td
          %b= t('activerecord.attributes.shared.email')
        %td
          = @sponsors_detail.d_email
      %tr
        %td
          %b= t('activerecord.attributes.shared.tag_line_1')
        %td
          =@sponsors_detail.d_tag_line_1
      %tr
        %td
          %b= t('activerecord.attributes.shared.tag_line_2')
        %td
          = @sponsors_detail.d_tag_line_2
      %tr
        %td
          %b= t('activerecord.attributes.shared.welcome_greeting')
        %td
          = @sponsors_detail.d_welcome_greeting
      %tr
        %td
          %b= t('activerecord.attributes.shared.return_greeting')
        %td
          = @sponsors_detail.d_return_greeting
      %tr
        %td
          %b= t('activerecord.attributes.shared.logo_filename')
        %td
          = @sponsors_detail.d_logo_filename
      %tr
        %td
          %b= t('activerecord.attributes.shared.headshot_filename')
        %td
          = @sponsors_detail.d_headshot_filename
      %tr
        %td
          %b= t('activerecord.attributes.shared.style_title')
        %td
          = @sponsors_detail.d_style_title

    = link_to t('views.nav.edit'), edit_sponsors_detail_path(@sponsors_detail), { id: 'link_show_edit'}
    -#\|
    -# = link_to t('views.nav.back'), sponsors_details_path, { class: 'link_show_back'}
.row
  .small-3.columns
    %p
