-# .row
-#   Welcome back #{current_sponsor.first_name} with #{current_sponsor.business_name}
.row
  .small-12.small-center.columns
    .banner-container
      = raw @portal_banner_advertisement

-# .small-4.small-center.columns
-#   = link_to 'Sign-out', destroy_sponsor_session_path, method: :delete
-# .small-4.small-center.columns
  -# = link_to 'Edit', edit_sponsor_path(current_sponsor.id)

-# .row
-#   .small-6.small-center.columns
-#     %p Temp data
-#     = @temp.inspect
-#
-# .row
-#   .small-6.small-center.columns
-#     %p My Activity
-#     = render 'sponsors/portals/partials/activity'
-#
.row
  .small-6.small-center.columns
    %p Advertisements Currently Running
    = render 'sponsors/portals/partials/rotations'
-#
.row
  .small-6.small-center.columns
    %p Advertisements Inventory Available
    = render 'sponsors/portals/partials/advertisements'
