
= simple_form_for(@advertisements_template) do |f|
  = f.error_notification

  .form-inputs
    = f.collection_select :sponsors_franchise_id, Sponsors::Franchise.all, :id, :title

    = f.input :title
    = f.input :description
    -# = f.input :sponsor_id, as: :string
    = f.label t('activerecord.attributes.shared.template_owner')
    = f.collection_select :sponsor_id, Sponsor.all, :id, :business_name
    = f.label t('activerecord.attributes.shared.advertisements_mechanical')
    = f.collection_select :advertisements_mechanical_id, Advertisements::Mechanical.all, :id, :title
    = f.input :code, as: :text, :input_html => { :rows => 7 , :style => 'width: 100%'}
    -#todo Add ability for archive to verify that no instances of the form are in use prior to disabling
    = f.input :archived

  .form-actions
    = f.button :submit
