.portal.edit
  .row
    %h1= t('views.advertisements_templates.edit.title')

    = render 'form'

    = link_to t('views.nav.show'), @advertisements_template
    \|
    = link_to t('views.nav.back'), advertisements_templates_path
