.portal.index
  .row
    %h1= t('views.advertisements_templates.index.title')

    %table
      %tr
        %th= t('activerecord.attributes.shared.title')
        %th= t('activerecord.attributes.shared.description')
        %th= t('activerecord.attributes.shared.sponsor')
        %th= t('activerecord.attributes.shared.advertisement_mechanical_title')
        %th= t('activerecord.attributes.shared.code')
        %th= t('activerecord.attributes.shared.archived')
        %th
        %th
        %th

      - @advertisements_templates.each do |advertisements_template|
        %tr
          %td= advertisements_template.d_title
          %td= advertisements_template.d_description
          %td= advertisements_template.d_sponsor_business_name
          %td= advertisements_template.d_advertisements_mechanical_title
          %td= advertisements_template.d_code
          %td= advertisements_template.d_archived
          %td= link_to t('views.nav.show'), advertisements_template
          %td= link_to t('views.nav.edit'), edit_advertisements_template_path(advertisements_template)
          %td= link_to t('views.nav.destroy'), advertisements_template, :method => :delete, :data => { :confirm => t('prompts.destroy_record') }

    %br

    = link_to t('views.nav.new'), new_advertisements_template_path
