.portal.show
  .row
    .portal.show.columns-left
    .portal.show.columns-center
    %p#notice= notice
    %h1= t('views.advertisements_templates.show.title')

    %table.table-settings

      %tr
        %td.caption
          = t('activerecord.attributes.shared.franchise_title')
        %td.information
          = @advertisements_template.d_franchise_title
      %tr
        %td.caption
          = t('activerecord.attributes.shared.title')
        %td.information
          = @advertisements_template.title
      %tr
        %td.caption
          = t('activerecord.attributes.shared.description')
        %td.information
          = @advertisements_template.description
      %tr
        %td.caption
          = t('activerecord.attributes.shared.template_owner')
        %td.information
          = @advertisements_template.d_sponsor_business_name
      %tr
        %td.caption
          = t('activerecord.attributes.shared.mechanical')
        %td.information
          = @advertisements_template.d_advertisements_mechanical_title
      %tr
        %td.caption
          = t('activerecord.attributes.shared.code')
        %td.information
          = @advertisements_template.code
      %tr
        %td.caption
          = t('activerecord.attributes.shared.archived')
        %td.information
          = @advertisements_template.archived

    = link_to t('views.nav.edit'), edit_advertisements_template_path(@advertisements_template), { id: 'link_show_edit'}
    \|
    = link_to t('views.nav.back'), advertisements_templates_path, { class: 'link_show_back'}
    .portal.show.columns-right
