.row
  .small-6.small-centered.columns
    %h1 Staff::Portal#index
    %p Find me in app/views/staff/portal/index.html.haml
    %p
      = link_to 'Logout', destroy_staff_session_path, method: :delete

    %p
      = render 'staff/portal/partials/recent_sponsors'


