forms/_form_contact.html.haml
= simple_form_for(@sponsor) do |f|
  = f.error_notification

  .form-inputs
    = f.input :primary_phone
    = f.input :address_1
    = f.input :address_2
    = f.input :city
    = f.label t('activerecord.attributes.shared.state')
    = f.collection_select :lookups_state_id, Lookups::State.all, :id, :abbreviated_name
    = f.input :zipcode
    = f.input :website

  .form-actions
    = f.button :submit
