forms/_form_license.html.haml
= simple_form_for(@sponsor) do |f|
  = f.error_notification

  .form-inputs
    = f.input :license_number
    = f.input :license_email
    = f.input :business_name
    = f.input :first_name
    = f.input :last_name

  .form-actions
    = f.button :submit
