= simple_form_for(@lookups_exchange) do |f|
  = f.error_notification

  .form-inputs
    = f.input :full_name
    = f.input :abbreviated_name
    = f.input :city
    = f.label 'State'
    = f.collection_select :lookups_state_id, Lookups::State.all, :id, :abbreviated_name
    -#= f.input :lookups_state_id

  .form-actions
    = f.button :submit
