.portal.edit
  .row
    %h1= t('views.lookups_exchanges.edit.title')

    = render 'form'

    = link_to t('views.nav.show'), @lookups_exchange
    \|
    = link_to t('views.nav.back'), lookups_exchanges_path
