.portal.index
  .row
    %h1= t('views.lookups_exchanges.index.title')

    %table
      %tr
        %th= t('activerecord.attributes.shared.full_name')
        %th= t('activerecord.attributes.shared.abbreviated_name')
        %th= t('activerecord.attributes.shared.city')
        %th= t('activerecord.attributes.shared.state')
        %th
        %th
        %th

      - @lookups_exchanges.each do |lookups_exchange|
        %tr
          %td= lookups_exchange.d_full_name
          %td= lookups_exchange.d_abbreviated_name
          %td= lookups_exchange.d_city
          %td= lookups_exchange.d_lookups_state_abbreviation
          %td= link_to t('views.nav.show'), lookups_exchange
          %td= link_to t('views.nav.edit'), edit_lookups_exchange_path(lookups_exchange)
          %td= link_to t('views.nav.destroy'), lookups_exchange, :method => :delete, :data => { :confirm => t('prompts.destroy_record') }

    %br

    = link_to t('views.nav.new'), new_lookups_exchange_path
