.portal.show
  .row
    .portal.show.columns-left
    .portal.show.columns-center
    %p#notice= notice
    %h1= t('views.lookups_exchanges.show.title')

    %table.table-settings

      %tr
        %td.caption
          = t('activerecord.attributes.shared.full_name')
        %td.information
          = @lookups_exchange.d_full_name
      %tr
        %td.caption
          = t('activerecord.attributes.shared.abbreviated_name')
        %td.information
          = @lookups_exchange.d_abbreviated_name
      %tr
        %td.caption
          = t('activerecord.attributes.shared.city')
        %td.information
          = @lookups_exchange.d_city
      %tr
        %td.caption
          = t('activerecord.attributes.shared.state')
        %td.information
          = @lookups_exchange.d_lookups_state_abbreviation

    = link_to t('views.nav.edit'), edit_lookups_exchange_path(@lookups_exchange), { id: 'link_show_edit'}
    \|
    = link_to t('views.nav.back'), lookups_exchanges_path, { class: 'link_show_back'}
    .portal.show.columns-right