-#add main navigation links to this file
%ul
  %li
    = link_to 'About', '#', {'data-reveal-id' => 'sponsor-modal'}

  - if (current_user.nil? && current_sponsor.nil? && current_staff.nil?)
    = render 'layouts/menus/sponsor_sign_in'
    = render 'layouts/menus/user_sign_in'
    = render 'layouts/menus/staff_sign_in'

    -# = render 'layouts/menus/user_sign_in'
    -# = render 'layouts/menus/staff_sign_in'


  - if sponsor_signed_in?
    = render 'layouts/menus/sponsor_sign_in'

  - if user_signed_in?
    = render 'layouts/menus/user_sign_in'

  - if staff_signed_in?
    = render 'layouts/menus/staff_sign_in'

  -# - if staff_signed_in?
  -#   = render 'layouts/menus/staff_sign_in'
