-# navigation styled for Zurb Foundation 5
%nav.top-bar{'data-topbar' =>'', role:'navigation'}
  %ul.title-area
    %li.name
      = link_to 'Home', root_path
    %li.toggle-topbar.menu-icon
      = link_to 'Menu', '#'
  %section.top-bar-section

    = render 'layouts/menus/main_navigation_menu_links'
