%li.has-dropdown
  = link_to 'Backend System', '#'
  %ul.dropdown
    -#%li
    -#  = link_to 'Campaigns', marketing_campaigns_path

    %li.has-dropdown
      = link_to 'Sponsorships', '#'
      %ul.dropdown
        -#%li
        -#  = link_to 'Sponsors', sponsors_path
        -#%li
        -#  = link_to 'B2B', bsponsorships_path
        -#%li
        -#  = link_to 'B2C', csponsorships_path

    %li.has-dropdown
      = link_to 'Ad Section', '#'
      %ul.dropdown
        -#%li
        -#  = link_to 'Rotations', ad_rotations_path
        -#-#%li
        -#-#  = link_to 'Advertisements', advertisements_path
        -#%li
        -#  = link_to 'Ads', ads_path
        -#%li
        -#  = link_to 'Ads System', ad_systems_path
        -#%li
        -#  = link_to 'Positions', ad_positions_path


    %li.has-dropdown
      = link_to 'Image Section', '#'
      %ul.dropdown
        -#%li
        -#  = link_to 'Images', images_path
        -#%li
        -#  = link_to 'Categories', image_categories_path
        -#%li
        -#  = link_to 'Presets', image_presets_path

    %li.has-dropdown
      = link_to 'Accounting', '#'
      %ul.dropdown
        -#%li
        -#  = link_to 'Payments', payments_path
        -#%li

    %li.has-dropdown
      = link_to t('menus.marketing.title'), '#'
      %ul.dropdown
        %li
          = link_to t('menus.marketing.campaigns'), marketing_campaigns_path
        %li
          = link_to t('menus.marketing.channels'), marketing_channels_path

    %li.has-dropdown
      = link_to 'Visitors', '#'
      %ul.dropdown
        %li
        -#  = link_to 'Client Machines', client_machines_path
        -#%li
        -#  = link_to 'Visits', visits_path

    %li.has-dropdown
      = link_to 'Reference', '#'
      %ul.dropdown
        -#%li
        -#  = link_to 'States', states_path
        -#%li
        -#  = link_to 'Listing Services', lservices_path
        -#%li
        -#  = link_to 'Industries', industries_path
        -#%li
        -#  = link_to 'Market Areas', market_areas_path
        -#%li
        -#  = link_to 'Counties', counties_path