- if user_signed_in?

  %ul.left
    %li.has-dropdown
      = link_to 'Home Owner', '#'
      %ul.dropdown
        %li
          = link_to 'My Home', '#'
        %li
          = link_to 'Neighborhood', '#'
    %li.has-dropdown
      = link_to 'Dispute', '#'
      %ul.dropdown
        %li
          = link_to 'Process', '#'
        %li
          = link_to 'Request CMA', '#'
        %li
          =  link_to 'Dispute', '#'

    -#- if @current_user_role != :user || @current_user_role == nil
    -#  %li.has-dropdown
    -#    = link_to 'Sponsorship Portal', portal_path
    -#    %ul.dropdown
    -#      -#%li
    -#      -#  = link_to 'Campaigns', campaigns_path
    -#      -#%li
    -#      -#  = link_to 'Advertisements', advertisements_path
    -#      -#- if @current_user_role == :b2c || @current_user_role == :support
    -#      -#  %li
    -#      -#    = link_to 'Sponsored', csponsorships_path
    -#      -#- if @current_user_role == :b2b || @current_user_role == :support
    -#      -#  %li
    -#      -#    = link_to 'Sponsored', bsponsorships_path
    -#      -#%li
    -#      -#  = link_to 'Sponsor Details', sponsor_detail_path(current_user)
    -#
    -#  = render 'layouts/menus/system'

  %ul.right
    %li.has-dropdown
      = link_to "#{current_user.last_name}, #{current_user.first_name}", '#'
      %ul.dropdown
        %li
          = link_to 'Sign out', destroy_user_session_path, {method: :delete, :class => 'navbar-link'}
        %li
          = link_to 'Change password', edit_user_registration_path
        %li
          = link_to 'Preferences', '#'

- else
  %ul.right
    %li
      = link_to 'Sign in', new_user_session_path, {:class => 'navbar-link'}



-#
-#- if user_signed_in?
-#
-#  %li
-#    = link_to 'Logout', destroy_user_session_path, {method: :delete, :class => 'navbar-link'}
-#
-#  %li.right
-#    = link_to "#{current_user.last_name}, #{current_user.first_name}", agent_path('0'), {:class => 'navbar-link'}
-#
-#  -#%li.logged-in-user
-#  -#  Logged in as
-#  -#  = current_user.email
-#- else
-#  -#%li
-#  -#  = link_to 'Sign up', new_user_registration_path, {:class => 'navbar-link'}
-#  %li
-#    = link_to 'Login', new_user_session_path, {:class => 'navbar-link'}

