= simple_form_for(@advertisements_position) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :description
    = f.collection_select :sponsors_type_id, Sponsors::Type.all, :id, :title
    -#= f.input :sponsors_type_id
    = f.input :display_width
    = f.input :display_height
    = f.input :symbol_name
    = f.input :archived

  .form-actions
    = f.button :submit
