.portal.edit
  .row
    %h1= t('views.advertisements_positions.edit.title')

    = render 'form'

    = link_to t('views.nav.show'), @advertisements_position
    \|
    = link_to t('views.nav.back'), advertisements_positions_path
