.portal.index
  .row
    %h1= t('views.advertisements_positions.index.title')

    %table
      %tr
        %th= t('activerecord.attributes.shared.title')
        %th= t('activerecord.attributes.shared.description')
        %th= t('activerecord.attributes.shared.sponsors_type_id')
        %th= t('activerecord.attributes.shared.display_width')
        %th= t('activerecord.attributes.shared.display_height')
        %th= t('activerecord.attributes.shared.symbol_name')
        %th= t('activerecord.attributes.shared.archived')
        %th
        %th
        %th

      - @advertisements_positions.each do |advertisements_position|
        %tr
          %td= advertisements_position.d_title
          %td= advertisements_position.d_description
          %td= advertisements_position.d_sponsors_type_id
          %td= advertisements_position.d_display_width
          %td= advertisements_position.d_display_height
          %td= advertisements_position.d_symbol_name
          %td= advertisements_position.d_archived
          %td= link_to t('views.nav.show'), advertisements_position
          %td= link_to t('views.nav.edit'), edit_advertisements_position_path(advertisements_position)
          %td= link_to t('views.nav.destroy'), advertisements_position, :method => :delete, :data => { :confirm => t('prompts.destroy_record') }

    %br

    = link_to t('views.nav.new'), new_advertisements_position_path
