.portal.show
  .row
    .portal.show.columns-left
    .portal.show.columns-center
    %p#notice= notice
    %h1= t('views.advertisements_positions.show.title')

    %table.table-settings

      %tr
        %td.caption
          = t('activerecord.attributes.shared.title')
        %td.information
          = @advertisements_position.d_title
      %tr
        %td.caption
          = t('activerecord.attributes.shared.description')
        %td.information
          = @advertisements_position.d_description
      %tr
        %td.caption
          = t('activerecord.attributes.shared.sponsors_type_id')
        %td.information
          = @advertisements_position.d_sponsors_type_id
      %tr
        %td.caption
          = t('activerecord.attributes.shared.display_width')
        %td.information
          = @advertisements_position.d_display_width
      %tr
        %td.caption
          = t('activerecord.attributes.shared.display_height')
        %td.information
          = @advertisements_position.d_display_height
      %tr
        %td.caption
          = t('activerecord.attributes.shared.symbol_name')
        %td.information
          = @advertisements_position.d_symbol_name
      %tr
        %td.caption
          = t('activerecord.attributes.shared.archived')
        %td.information
          = @advertisements_position.archived

    = link_to t('views.nav.edit'), edit_advertisements_position_path(@advertisements_position), { id: 'link_show_edit'}
    \|
    = link_to t('views.nav.back'), advertisements_positions_path, { class: 'link_show_back'}
    .portal.show.columns-right