%table
  %tr
    %th= t('activerecord.attributes.shared.business_name')
    %th= t('activerecord.attributes.shared.title')
    %th= t('activerecord.attributes.shared.description')
    %th= t('activerecord.attributes.shared.archived')
    -# %th
    -#%th
    -#%th

  - @advertisements_advertisements.each do |advertisement|
    %tr
      %td= advertisement.d_sponsor_business_name
      %td= advertisement.d_title
      %td= advertisement.d_description
      %td= advertisement.d_archived
      -# %td= link_to t('views.nav.show'), advertisement
      -#%td= link_to t('views.nav.edit'), edit_advertisement_path(advertisement)
      -#%td= link_to t('views.nav.destroy'), advertisement, :method => :delete, :data => { :confirm => t('prompts.destroy_record') }
