%table
  %tr
    %th= t('activerecord.attributes.shared.sponsor')
    %th= t('activerecord.attributes.shared.advertisement')
    %th= t('activerecord.attributes.shared.running')
    %th= t('activerecord.attributes.shared.start_date')
    %th= t('activerecord.attributes.shared.stop_date')
    %th= t('activerecord.attributes.shared.notes')
    %th= t('activerecord.attributes.shared.archived')
    -#%th
    -#%th
    -#%th

  - @advertisements_rotations.each do |rotation|
    %tr
      %td= rotation.d_sponsor_business_name
      %td= rotation.d_advertisements_advertisement_title
      %td= rotation.d_running
      %td= rotation.d_start_date
      %td= rotation.d_stop_date
      %td= rotation.d_notes
      %td= rotation.d_archived
      -#%td= link_to t('views.nav.show'), advertisements_rotation
      -#%td= link_to t('views.nav.edit'), edit_advertisements_rotation_path(advertisements_rotation)
      -#%td= link_to t('views.nav.destroy'), advertisements_rotation, :method => :delete, :data => { :confirm => t('prompts.destroy_record') }
