%table
  %tr
    %th= t('activerecord.attributes.shared.sponsor')
    %th= t('activerecord.attributes.shared.email')
    %th= t('activerecord.attributes.shared.last_sign_in_at')
    %th= t('activerecord.attributes.shared.sign_in_count')
    -#%th
    -#%th
    -#%th

  - @sponsorships.each do |sponsorship|
    %tr
      %td= sponsorship.d_sponsor_business_name
      %td= sponsorship.d_sponsor_email
      %td= sponsorship.d_sponsor_last_sign_in_at
      %td= sponsorship.d_sponsor_sign_in_count
      -#%td= link_to t('views.nav.show'), advertisements_rotation
      -#%td= link_to t('views.nav.edit'), edit_advertisements_rotation_path(advertisements_rotation)
      -#%td= link_to t('views.nav.destroy'), advertisements_rotation, :method => :delete, :data => { :confirm => t('prompts.destroy_record') }
