.portal.edit
  .row
    %h1= t('views.lookups_industries.edit.title')

    = render 'form'

    = link_to t('views.nav.show'), @lookups_industry
    \|
    = link_to t('views.nav.back'), lookups_industries_path
