.portal.index
  .row
    %h1= t('views.lookups_industries.index.title')

    %table
      %tr
        %th= t('activerecord.attributes.shared.naics_code')
        %th= t('activerecord.attributes.shared.title')
        %th= t('activerecord.attributes.shared.note')
        %th
        %th
        %th

      - @lookups_industries.each do |lookups_industry|
        %tr
          %td= lookups_industry.d_naics_code
          %td= lookups_industry.d_title
          %td= lookups_industry.d_note
          %td= link_to t('views.nav.show'), lookups_industry
          %td= link_to t('views.nav.edit'), edit_lookups_industry_path(lookups_industry)
          %td= link_to t('views.nav.destroy'), lookups_industry, :method => :delete, :data => { :confirm => t('prompts.destroy_record') }

    %br

    = link_to t('views.nav.new'), new_lookups_industry_path
