.portal.show
  .row
    .portal.show.columns-left
    .portal.show.columns-center
    %p#notice= notice
    %h1= t('views.lookups_industries.show.title')

    %table.table-settings

      %tr
        %td.caption
          = t('activerecord.attributes.shared.naics_code')
        %td.information
          = @lookups_industry.d_naics_code
      %tr
        %td.caption
          = t('activerecord.attributes.shared.title')
        %td.information
          = @lookups_industry.d_title
      %tr
        %td.caption
          = t('activerecord.attributes.shared.note')
        %td.information
          = @lookups_industry.d_note

    = link_to t('views.nav.edit'), edit_lookups_industry_path(@lookups_industry), { id: 'link_show_edit'}
    \|
    = link_to t('views.nav.back'), lookups_industries_path, { class: 'link_show_back'}
    .portal.show.columns-right