.row
  .small-10.columns
    .panel
      %b CPT ad to Title Co goes here.
.row
  .small-10.columns
    -#This is where the list of sponsored home owners go.
    -#= @prospects.inspect
    %h4.text-centered Sponsored Realtors
    %table
      %tr
        %th Team
        %th Home Owners
        %th Email
        %th Name
        %th # visits
        %th Last visit

      - @prospects.each do |prospect|
        %tr
          %td= prospect.sponsoree.business_name
          %td= prospect.sponsoree.sponsored
          %td= prospect.sponsoree.user.email
          %td= "#{prospect.sponsoree.user.last_name}, #{prospect.sponsoree.user.first_name}"
          %td= prospect.sponsoree.user.sign_in_count
          %td= prospect.sponsoree.user.last_sign_in_at.strftime("%m/%d/%Y")