= simple_form_for(@advertisements_rotation) do |f|
  = f.error_notification

  .form-inputs

    = f.label t('activerecord.attributes.shared.mechanical')
    = f.collection_select :advertisements_mechanical_id, Advertisements::Mechanical.all, :id, :title

    = f.label t('activerecord.attributes.shared.campaign')
    = f.collection_select :marketing_campaign_id, Marketing::Campaign.all, :id, :title

    = f.label t('activerecord.attributes.shared.sponsor')
    = f.collection_select :sponsor_id, Sponsor.all, :id, :business_name
    -#= f.input :sponsors_sponsor_id

    = f.label t('activerecord.attributes.shared.advertisements_advertisement_id')
    = f.collection_select :advertisements_advertisement_id, Advertisements::Advertisement.all, :id, :title
    -#= f.input :advertisements_advertisement_id
    = f.input :running
    = f.input :start_date
    = f.input :stop_date
    = f.input :notes
    = f.input :archived

  .form-actions
    = f.button :submit
