.portal.edit
  .row
    %h1= t('views.advertisements_rotations.edit.title')

    = render 'form'

    = link_to t('views.nav.show'), @advertisements_rotation
    \|
    = link_to t('views.nav.back'), advertisements_rotations_path
