.portal.index
  .row
    %h1= t('views.advertisements_rotations.index.title')

    %table
      %tr
        %th= t('activerecord.attributes.shared.mechanical')
        %th= t('activerecord.attributes.shared.campaign')
        %th= t('activerecord.attributes.shared.sponsor')
        %th= t('activerecord.attributes.shared.advertisement')
        %th= t('activerecord.attributes.shared.running')
        %th= t('activerecord.attributes.shared.start_date')
        %th= t('activerecord.attributes.shared.stop_date')
        %th= t('activerecord.attributes.shared.notes')
        %th= t('activerecord.attributes.shared.archived')
        %th
        %th
        %th

      - @advertisements_rotations.each do |advertisements_rotation|
        %tr
          %td= advertisements_rotation.d_advertisements_mechanical_title
          %td= advertisements_rotation.d_marketing_campaign_title
          %td= advertisements_rotation.d_sponsor_business_name
          %td= advertisements_rotation.d_advertisements_advertisement_title
          %td= advertisements_rotation.d_running
          %td= advertisements_rotation.d_start_date
          %td= advertisements_rotation.d_stop_date
          %td= advertisements_rotation.d_notes
          %td= advertisements_rotation.d_archived
          %td= link_to t('views.nav.show'), advertisements_rotation
          %td= link_to t('views.nav.edit'), edit_advertisements_rotation_path(advertisements_rotation)
          %td= link_to t('views.nav.destroy'), advertisements_rotation, :method => :delete, :data => { :confirm => t('prompts.destroy_record') }

    %br

    = link_to t('views.nav.new'), new_advertisements_rotation_path
