.portal.show
  .row
    .portal.show.columns-left
    .portal.show.columns-center
    %p#notice= notice
    %h1= t('views.advertisements_rotations.show.title')

    %table.table-settings


      %tr
        %td.caption
          = t('activerecord.attributes.shared.mechanical')
        %td.information
          = @advertisements_rotation.d_advertisements_mechanical_title
      %tr
        %td.caption
          = t('activerecord.attributes.shared.campaign')
        %td.information
          = @advertisements_rotation.d_marketing_campaign_title
      %tr
        %td.caption
          = t('activerecord.attributes.shared.sponsor')
        %td.information
          = @advertisements_rotation.d_sponsor_business_name
      %tr
        %td.caption
          = t('activerecord.attributes.shared.advertisement_title')
        %td.information
          = @advertisements_rotation.d_advertisements_advertisement_title
      %tr
        %td.caption
          = t('activerecord.attributes.shared.running')
        %td.information
          = @advertisements_rotation.d_running
      %tr
        %td.caption
          = t('activerecord.attributes.shared.start_date')
        %td.information
          = @advertisements_rotation.d_start_date
      %tr
        %td.caption
          = t('activerecord.attributes.shared.stop_date')
        %td.information
          = @advertisements_rotation.d_stop_date
      %tr
        %td.caption
          = t('activerecord.attributes.shared.notes')
        %td.information
          = @advertisements_rotation.d_notes
      %tr
        %td.caption
          = t('activerecord.attributes.shared.archived')
        %td.information
          = @advertisements_rotation.d_archived

    = link_to t('views.nav.edit'), edit_advertisements_rotation_path(@advertisements_rotation), { id: 'link_show_edit'}
    \|
    = link_to t('views.nav.back'), advertisements_rotations_path, { class: 'link_show_back'}
    .portal.show.columns-right
