.row
  .small-6.columns
    This is what support sees.

.row
  .small-6.columns
    %p#notice= notice

    %p
      %b Industry:
      = @sponsor.d_industry_name
    %p
      %b Sponsorship type:
      = @sponsor.d_sponsor_type_name
    %p
      %b User:
      = @sponsor.d_user_full_name
    %p
      %b Business name:
      = @sponsor.business_name
    %p
      %b Phone:
      = @sponsor.phone
    %p
      %b Address 1:
      = @sponsor.address_1
    %p
      %b Address 2:
      = @sponsor.address_2
    %p
      %b City:
      = @sponsor.city
    %p
      %b State:
      = @sponsor.state_id
    %p
      %b Zipcode:
      = @sponsor.zipcode
    %p
      %b Website:
      = @sponsor.website
    %p
      %b Notes:
      = @sponsor.notes

    = link_to 'Edit', edit_sponsor_path(@sponsor), { id: 'link_show_edit'}
    \|
    = link_to 'Back', sponsors_path, { class: 'link_show_back'}
