sponsors/partials/_display_account
%table.table-settings

  %tr
    %td.caption
      = t('activerecord.attributes.shared.user_name')
    %td.information
      = @sponsor.d_user_name
  %tr
    %td.caption
      = t('activerecord.attributes.shared.account_email')
    %td.information
      = @sponsor.d_email
  %tr
    %td.caption
      = t('activerecord.attributes.shared.campaign_sponsor')
    %td.information
      = @sponsor.d_campaign_sponsor_business_name

  -#= render 'sponsors/forms/form_contact_details'
