sponsors/partials/_display_license
%table.table-settings

  %tr
    %td.caption
      = t('activerecord.attributes.shared.license_number')
    %td.information
      = @sponsor.d_license_number
  %tr
    %td.caption
      = t('activerecord.attributes.shared.license_email')
    %td.information
      = @sponsor.d_license_email
  %tr
    %td.caption
      = t('activerecord.attributes.shared.business_name')
    %td.information
      = @sponsor.d_business_name
  %tr
    %td.caption
      = t('activerecord.attributes.shared.first_name')
    %td.information
      = @sponsor.d_first_name
  %tr
    %td.caption
      = t('activerecord.attributes.shared.last_name')
    %td.information
      = @sponsor.d_last_name