sponsors/partials/_display_contact
%table.table-settings

  %tr
    %td.caption
      = t('activerecord.attributes.shared.primary_phone')
    %td.information
      = @sponsor.d_primary_phone
  %tr
    %td.caption
      = t('activerecord.attributes.shared.address_1')
    %td.information
      = @sponsor.d_address_1
  %tr
    %td.caption
      = t('activerecord.attributes.shared.address_2')
    %td.information
      = @sponsor.d_address_2
  %tr
    %td.caption
      = t('activerecord.attributes.shared.city')
    %td.information
      = @sponsor.d_city
  %tr
    %td.caption
      = t('activerecord.attributes.shared.lookups_state_id')
    %td.information
      = @sponsor.d_state_abbreviated_name
  %tr
    %td.caption
      = t('activerecord.attributes.shared.zipcode')
    %td.information
      = @sponsor.d_zipcode
  %tr
    %td.caption
      = t('activerecord.attributes.shared.website')
    %td.information
      = @sponsor.d_website