.row
  .small-6.small-center.columns
    You made it to the invitation page

    %h4 Displays welcome message from sponsor
    %p
      -# Your Sponsor is #{@sponsor.business_name}
      -# .br Campaign name: #{@campaign_record.title}
    %p
      -# Ad to be shown #{@campaign_record.advertisements_advertisement_id}
      -#.br #{@campaign_record.advertisements_advertisement.title}
    %p
      = raw @ad_html

    %h4 Display benefits of becoming a Sponsor
    -# Display Sponsor's benefits advertisement

    %h4
      = link_to t('menus.sponsor.begin_sign_up'), new_sponsor_registration_path(campaign_id: params[:campaign_id])
