.row
  .small-6.columns
    = simple_form_for(@sponsor) do |f|
      = f.error_notification

      .form-inputs
        = f.collection_select :industry_id, Industry.all, :id, :name
        = f.collection_select :sponsor_type_id, SponsorType.all, :id, :title
        = f.collection_select :user_id, User.all, :id, :user_full_name
        = f.input :business_name
        = f.input :phone
        = f.input :address_1
        = f.input :address_2
        = f.input :city
        = f.collection_select :state_id, State.all, :id, :abbreviation
        = f.input :zipcode
        = f.input :website
        = f.input :notes

      .form-actions
        = f.button :submit
