.row
  %h4 Sponsors

  %table.responsive
    %tr
      %th Business name
      %th Contact
      %th Phone
      %th Sponsorees
      %th Location

    - @sponsors.each do |sponsor|
      %tr
        %td= link_to sponsor.business_name, sponsor
        %td= sponsor.d_user_full_name
        %td= sponsor.phone
        %td= sponsor.sponsored
        %td= sponsor.city

  %br

  = link_to 'New Sponsor', new_sponsor_path
