<row>
  <div small-3 columns>
  Sponsor Details
  <hr>
  </div>
  <div small-6 columns>
    <table>
      <tr>
        <td>Business:</td><td>{{model.businessName}}</td>
      </tr>
      <tr>
        <td>First name:</td><td>{{model.firstName}}</td>
      </tr>
      <tr>
        <td>Last name:</td><td>{{model.lastName}}</td>
      </tr>
      <tr>
        <td>Primary phone:</td><td>{{model.primaryPhone}}</td>
      </tr>
      <tr>
        <td>User name:</td><td>{{model.userName}}</td>
      </tr>
      <tr>
        <td>Email:</td><td>{{model.email}}</td>
      </tr>
      <tr>
        <td>Current sign in at:</td><td>{{model.currentSignInAt}}</td>
      </tr>
      <tr>
        <td>Last sign in at:</td><td>{{model.lastSignInAt}}</td>
      </tr>
      <tr>
        <td>Current sign in ip:</td><td>{{model.currentSignInIp}}</td>
      </tr>
      <tr>
        <td>Last sign in ip:</td><td>{{model.lastSignInIp}}</td>
      </tr>
      <tr>
        <td>Sign in count:</td><td>{{model.signInCount}}</td>
      </tr>
      <tr>
        <td>Campaign id:</td><td>{{model.campaignId}}</td>
      </tr>
      <tr>
        <td>Industry id:</td><td>{{model.lookupsIndustryId}}</td>
      </tr>
      <tr>
        <td>Sponsor type:</td><td>{{model.sponsorsTypeId}}</td>
      </tr>
      <tr>
        <td>License number:</td><td>{{model.licenseNumber}}</td>
      </tr>
      <tr>
        <td>License email:</td><td>{{model.licenseEmail}}</td>
      </tr>
      <tr>
        <td>Address 1:</td><td>{{model.address_1}}</td>
      </tr>
      <tr>
        <td>Address 2:</td><td>{{model.address_2}}</td>
      </tr>
      <tr>
        <td>City:</td><td>{{model.city}}</td>
      </tr>
      <tr>
        <td>State:</td><td>{{model.lookupsState.abbreviatedName}}</td>
      </tr>
      <tr>
        <td>State 2:</td><td>{{model.lookupsState.fullName}}</td>
      </tr>
      <tr>
        <td>Zipcode:</td><td>{{model.zipcode}}</td>
      </tr>
      <tr>
        <td>Website:</td><td>{{model.website}}</td>
      </tr>
      <tr>
        <td>Notes:</td><td>{{model.notes}}</td>
      </tr>
    </table>
</div>
</row>
{{!outlet}}
