.portal.index
  .row
    .small-12.small-center.columns
      .banner-container
        = raw @portal_banner_advertisement_html
        %p

  .row
    .small-6.small-center.columns
      %p Advertisement Inventory
      -# = raw @available_company_advertisements
      - unless @available_company_advertisements.count < 1
        -   @available_company_advertisements.each do |advertisement|
          = raw advertisement
          %br
      - else
        %p ToDo -
        = link_to 'Please select your advertisements', '#'

  .row
    .small-12.small-center.columns
      .banner-container
        = current_sponsor.id
        %p
  .row
    .small-12.small-center.columns
      .banner-container
        -# = raw @return_visit_advertisement

  -# .row
  -#   %h3= t('views.myportal_advertisements.index.title')
  -#
  -#   %table
  -#     %tr
  -#       %th= t('activerecord.attributes.shared.sponsor')
  -#       %th= t('activerecord.attributes.shared.title')
  -#       %th= t('activerecord.attributes.shared.description')
  -#       %th= t('activerecord.attributes.shared.revision')
  -#
  -#       -# %th= t('activerecord.attributes.shared.source')
  -#       -# %th= t('activerecord.attributes.shared.advertisements_mechanical_title')
  -#       %th= t('activerecord.attributes.shared.template')
  -#       %th= t('activerecord.attributes.shared.images_imgfile_id')
  -#       %th= t('activerecord.attributes.shared.archived')
  -#       %th
  -#       %th
  -#       %th
  -#
  -#     - @advertisements_advertisements.each do |advertisements_advertisement|
  -#       %tr
  -#         %td= advertisements_advertisement.d_sponsor_business_name
  -#         %td= advertisements_advertisement.d_title
  -#         %td= advertisements_advertisement.d_description
  -#         %td= advertisements_advertisement.d_revision
  -#         -# %td= advertisements_advertisement.d_advertisements_source_title
  -#         -# %td= advertisements_advertisement.d_advertisements_mechanical_title
  -#         %td= advertisements_advertisement.d_advertisements_template_title
  -#         %td= advertisements_advertisement.d_images_imgfile_id
  -#         %td= advertisements_advertisement.d_archived
  -#         %td= link_to t('views.nav.show'), advertisements_advertisement
  -#         %td= link_to t('views.nav.edit'), edit_advertisements_advertisement_path(advertisements_advertisement)
  -#         %td= link_to t('views.nav.destroy'), advertisements_advertisement, :method => :delete, :data => { :confirm => t('prompts.destroy_record') }
  -#
  -#   %br
  -#
  -#   = link_to t('views.nav.new'), new_advertisements_advertisement_path
  -#
  -#   %p
  -#     = raw @portal_banner_advertisement_html
