.row
  = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|

    .form-inputs.small-6.column
      %h2 Sign in
      = f.input :email, required: false, autofocus: true
      = f.input :password, required: false
      = f.input :remember_me, as: :boolean if devise_mapping.rememberable?


      .form-actions
        = f.button :submit, "Sign in"
        = render "devise/shared/links"
