<div class='row'>
  <div class='fixed'>
    <nav class="top-bar foundation-bar" data-topbar >
      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="left">
          <!-- <li><a  href="#" >{{!model.length}}</a></li> -->

          {{!#each menu in model}}
            <!-- <li><a  {{!bindAttr href="menu.route"}} >{{!menu.name}}</a></li> -->
            <li>{{#link-to 'welcome'  class='menu-welcome'}}Welcome{{/link-to}}</li>
            <li>{{#link-to 'taxes.overview'  class='menu-taxable'}}Property Taxes{{/link-to}}</li>
            <li>{{#link-to 'market.overview'  class='menu-markets'}}Market Value{{/link-to}}</li>
            <li>{{#link-to 'appeal.overview'  class='menu-dispute'}}Appeal{{/link-to}}</li>
            <li>{{#link-to 'sponsors.index'  class='menu-sponsors'}}Sponsor{{/link-to}}</li>
            {{#if session.isAuthenticated}}
            <li><a {{ action 'actionSignOut' }}>Sign out</a></li>
            {{else}}
            <li><a {{ action 'actionSignIn' }}>Sign in</a></li>
            <!-- <li>{{!#link-to 'login'  class='menu-login'}}Login{{!/link-to}}</li> -->
            {{/if}}
          <!-- <li><a  href="#" >Disputes</a></li> -->
          <!-- <li><a  href="#" >Real Value</a></li> -->
          <!-- <li><a  href="/sponsors" >Sponsor</a></li> -->
          <!-- <li><a  href="#" >More...</a></li> -->
          {{!/each}}
        </ul>
      </section>
    </nav>
  </div>
  {{title}}
</div>
