<div class='row'>
        <!-- Right Nav Section -->
        <ul class="side-nav">
          <!-- <li><a  href="#" >{{!model.length}}</a></li> -->

          {{!#each menu in model}}
            <!-- <li><a  {{!bindAttr href="menu.route"}} >{{!menu.name}}</a></li> -->
            <li>{{#link-to 'taxes.overview' class='menu-taxes-overview'}}Overview{{/link-to}}</li>
            <li>{{#link-to 'taxes.property' class='menu-taxes-overview'}}My property{{/link-to}}</li>
            <li>{{#link-to 'taxes.neighborhood' class='menu-taxes-overview'}}My neighborhood{{/link-to}}</li>
            <li>{{#link-to 'taxes.compare' class='menu-taxes-overview'}}Compare{{/link-to}}</li>
            <li>{{#link-to 'taxes.summary' class='menu-taxes-overview'}}Summary{{/link-to}}</li>
            <li>{{#link-to 'taxes.cma' class='menu-taxes-overview'}}Professional CMA{{/link-to}}</li>

          {{!/each}}
        </ul>
</div>
