<div class='row'>
        <!-- Right Nav Section -->
        <ul class="side-nav">
          <!-- <li><a  href="#" >{{!model.length}}</a></li> -->

          {{!#each menu in model}}
            <!-- <li><a  {{!bindAttr href="menu.route"}} >{{!menu.name}}</a></li> -->
            <li>{{#link-to 'market.overview' class='menu-markets-overview'}}Overview{{/link-to}}</li>
            <li>{{#link-to 'market.condition'}}Condition{{/link-to}}</li>
            <li>{{#link-to 'market.location'}}Location{{/link-to}}</li>
            <li>{{#link-to 'market.size'}}Size{{/link-to}}</li>
            <li>{{#link-to 'market.configuration'}}Configuration{{/link-to}}</li>
            <li>{{#link-to 'market.upgrades'}}Upgrades{{/link-to}}</li>
            <li>{{#link-to 'market.amenities'}}Amenities{{/link-to}}</li>
            <li>{{#link-to 'market.neighborhood'}}Neighborhood{{/link-to}}</li>

          {{!/each}}
        </ul>
</div>
