<div class='row'>
        <!-- Right Nav Section -->
        <ul class="side-nav">
          <!-- <li><a  href="#" >{{!model.length}}</a></li> -->

          {{!#each menu in model}}
            <!-- <li><a  {{!bindAttr href="menu.route"}} >{{!menu.name}}</a></li> -->
            <li>{{#link-to 'appeal.overview' class='menu-taxes-overview'}}Overview{{/link-to}}</li>
            <li>{{#link-to 'appeal.diy' class='menu-taxes-overview'}}Self Appeal{{/link-to}}</li>
            <li>{{#link-to 'appeal.package' class='menu-taxes-overview'}}Appeal Package{{/link-to}}</li>
            <li>{{#link-to 'appeal.professional' class='menu-taxes-overview'}}Professional Appeal{{/link-to}}</li>

          {{!/each}}
        </ul>
</div>
