<div class='row'>
        <!-- Right Nav Section -->
        <ul class="side-nav">
          <!-- <li><a  href="#" >{{!model.length}}</a></li> -->
          {{!menu}}  
          {{!#each menu in model}}
            <!-- <li><a  {{!bindAttr href="menu.route"}} >{{!menu.name}}</a></li> -->
            <li>{{#link-to 'application'}}Welcome{{/link-to}}</li>
            <li>{{#link-to 'sponsors.index'}}Sponsor{{/link-to}}</li>
          <!-- <li><a  href="#" >Disputes</a></li> -->
          <!-- <li><a  href="#" >Real Value</a></li> -->
          <!-- <li><a  href="/sponsors" >Sponsor</a></li> -->
          <!-- <li><a  href="#" >More...</a></li> -->
          {{!/each}}
        </ul>
</div>
