.row
  .small-12.columns
    = simple_form_for(@sponsors_detail) do |f|
      = f.error_notification

      .form-inputs
        -#= f.input :sponsor_id
        = f.input :company_name
        = f.input :contact_last_name
        = f.input :contact_first_name
        = f.input :phone_1
        = f.input :phone_2
        = f.input :website
        = f.input :email
        = f.input :tag_line_1
        = f.input :tag_line_2
        = f.input :welcome_greeting
        = f.input :return_greeting
        = f.input :logo_filename
        = f.input :headshot_filename
        = f.collection_select :sponsors_style_id, Sponsors::Style.all, :id, :title

      .form-actions
        = f.button :submit
