%h1 Listing sponsor_details

%table
  %tr
    %th Sponsor
    %th Company name
    %th Contact last name
    %th Contact first name
    -# %th Phone 1
    -# %th Phone 2
    -# %th Website
    -# %th Email
    -# %th Tag line 1
    -# %th Tag line 2
    -# %th Welcome greeting
    -# %th Return greeting
    -# %th Logo filename
    -# %th Headshot filename
    %th
    %th
    %th

  - @sponsors_details.each do |sponsors_detail|
    %tr

      %td= sponsors_detail.d_sponsors_name
      %td= sponsors_detail.d_sponsor_business_name

      %td= sponsors_detail.company_name
      %td= sponsors_detail.contact_last_name
      %td= sponsors_detail.contact_first_name
      -# %td= sponsors_detail.phone_1
      -# %td= sponsors_detail.phone_2
      -# %td= sponsors_detail.website
      -# %td= sponsors_detail.email
      -# %td= sponsors_detail.tag_line_1
      -# %td= sponsors_detail.tag_line_2
      -# %td= sponsors_detail.welcome_greeting
      -# %td= sponsors_detail.return_greeting
      -# %td= sponsors_detail.logo_filename
      -# %td= sponsors_detail.headshot_filename
      %td= link_to 'Show', sponsors_detail
      %td= link_to 'Edit', edit_sponsors_detail_path(sponsors_detail)
      %td= link_to 'Destroy', sponsors_detail, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Sponsor detail', new_sponsors_detail_path
