= simple_form_for(@marketing_channel) do |f|
  = f.error_notification

  .form-inputs
    -#ToDo Replace with select
    -# = f.input :sponsor_id, as: :string
    = f.label t('activerecord.attributes.shared.sponsor')
    = f.collection_select :sponsor_id, Sponsor.all, :id, :business_name
    = f.input :title
    = f.input :description
    = f.input :archived

  .form-actions
    = f.button :submit
