.portal.edit
  .row
    %h1= t('views.marketing_channels.edit.title')

    = render 'form'

    = link_to t('views.nav.show'), @marketing_channel
    \|
    = link_to t('views.nav.back'), marketing_channels_path
