.portal.index
  .row
    %h1= t('views.marketing_channels.index.title')

    %table
      %tr
        %th= t('activerecord.attributes.shared.sponsor')
        %th= t('activerecord.attributes.shared.title')
        %th= t('activerecord.attributes.shared.description')
        %th= t('activerecord.attributes.shared.archived')
        %th
        %th
        %th

      - @marketing_channels.each do |marketing_channel|
        %tr
          %td= marketing_channel.d_sponsor_business_name
          %td= marketing_channel.d_title
          %td= marketing_channel.d_description
          %td= marketing_channel.d_archived
          %td= link_to t('views.nav.show'), marketing_channel
          %td= link_to t('views.nav.edit'), edit_marketing_channel_path(marketing_channel)
          %td= link_to t('views.nav.destroy'), marketing_channel, :method => :delete, :data => { :confirm => t('prompts.destroy_record') }

    %br

    = link_to t('views.nav.new'), new_marketing_channel_path
