.portal.show
  .row
    .portal.show.columns-left
    .portal.show.columns-center
    %p#notice= notice
    %h1= t('views.marketing_channels.show.title')

    %table.table-settings

      %tr
        %td.caption
          = t('activerecord.attributes.shared.owner')
        %td.information
          = @marketing_channel.d_sponsor_business_name
      %tr
        %td.caption
          = t('activerecord.attributes.shared.title')
        %td.information
          = @marketing_channel.d_title
      %tr
        %td.caption
          = t('activerecord.attributes.shared.description')
        %td.information
          = @marketing_channel.d_description
      %tr
        %td.caption
          = t('activerecord.attributes.shared.archived')
        %td.information
          = @marketing_channel.d_archived

    = link_to t('views.nav.edit'), edit_marketing_channel_path(@marketing_channel), { id: 'link_show_edit'}
    \|
    = link_to t('views.nav.back'), marketing_channels_path, { class: 'link_show_back'}
    .portal.show.columns-right