<!-- -- templates/application.hbs -- -->
<div class ='row'>
  <div class='row'>
    {{main-menu actionSignIn="createSession" actionSignOut="destroySession"}}
  </div>

  <div class='row'>
    {{sponsor-header-ad model=model.sponsorHeaderAdContent}}
      {{!currentPath}}
  </div>

  <div class='row' >
    {{outlet}}
  </div>




</div>
