-- templates/index.hbs --
<div>
  <div class='navigation'>
    <span class='red'>Displays the main entry page.</span>
  </div>
  <br/>
  Campaign id: {{campaignId}}
  <br/>
  Sponsor id: {{sponsorId}}
</div>
