.row
  .small-12.text-center.columns
    %br
    %h1.test Are your Property Taxes too high?

.row
  .small-1.columns
    %p
  .small-10.columns
    .panel

      %h3.text-center We want to provide you with the tools to fight the tax collector and win.
      %p It is very common for the house next door to be paying less in taxes than you do.  We will be making it really easy to verify that you aren't paying more than your equitable share.
      %p So until we launch this site the least we can do is point you in the right direction.  After researching property taxes the old fashioned way you will just love our site.

      .row
        .small-4.columns
          %h6.text-center Dallas Central Appraisal District
          (DCAD) is responsible for appraising property for the purpose of ad valorem property tax assessment on behalf of the 61 local governing bodies in Dallas County.</p>
        .small-4.columns
          %h6.text-center Collin Central Appraisal District
          The mission of the Collin Central Appraisal District is to appraise all property in the Collin County Appraisal District at market value equally and uniformly, and to communicate that value annually to each taxpayer and taxing jurisdiction.
        .small-4.columns
          %h6.text-center Denton Central Appraisal District
          The mission of the Denton Central Appraisal District is to appraise property for property taxation and maintain 100% of market value, allowing local funding for the school districts and ensuring that appraisals are performed in an equal and uniform manner in order that taxpayers pay only their fair share of the property tax burden.</p>
  .small-1.columns
    %p

.row
  .small-3.columns
    %p
  .small-6.text-center.columns
    .panel
      %h5 Hoping to help you save "REAL" money soon.
      %p
        %b Free service
        launching late 2014
  .small-3.columns
    %p