.row
  %h4 Displays welcome message from sponsor
  %p
    -#Your sponsor is #{@sponsor.business_name}

.row
  .panel
    %p
      Current user: #{current_user.inspect}
    %p
      Current sponsor: #{current_sponsor.inspect}
    -##{@ad_to_show}

    -#%p
    -#.button
    -#  = link_to 'Continue to Portal', portal_path


