.portal.edit
  .row
    %h1= t('views.statistics_devices.edit.title')

    = render 'form'

    = link_to t('views.nav.show'), @statistics_device
    \|
    = link_to t('views.nav.back'), statistics_devices_path
