.portal.index
  .row
    %h1= t('views.statistics_devices.index.title')

    %table
      %tr
        %th= t('activerecord.attributes.shared.note')
        %th
        %th
        %th

      - @statistics_devices.each do |statistics_device|
        %tr
          %td= statistics_device.d_note
          %td= link_to t('views.nav.show'), statistics_device
          %td= link_to t('views.nav.edit'), edit_statistics_device_path(statistics_device)
          %td= link_to t('views.nav.destroy'), statistics_device, :method => :delete, :data => { :confirm => t('prompts.destroy_record') }

    %br

    = link_to t('views.nav.new'), new_statistics_device_path
