.portal.show
  .row
    .portal.show.columns-left
    .portal.show.columns-center
    %p#notice= notice
    %h1= t('views.statistics_devices.show.title')

    %table.table-settings

      %tr
        %td.caption
          = t('activerecord.attributes.shared.note')
        %td.information
          = @statistics_device.d_note

    = link_to t('views.nav.edit'), edit_statistics_device_path(@statistics_device), { id: 'link_show_edit'}
    \|
    = link_to t('views.nav.back'), statistics_devices_path, { class: 'link_show_back'}
    .portal.show.columns-right