= simple_form_for(@accounting_payment) do |f|
  = f.error_notification

  .form-inputs
    = f.input :sponsor_id
    = f.input :accounting_payment_type_id
    = f.input :amount
    = f.input :staff_id
    = f.input :note

  .form-actions
    = f.button :submit
