.portal.edit
  .row
    %h1= t('views.accounting_payments.edit.title')

    = render 'form'

    = link_to t('views.nav.show'), @accounting_payment
    \|
    = link_to t('views.nav.back'), accounting_payments_path
