.portal.index
  .row
    %h1= t('views.accounting_payments.index.title')

    %table
      %tr
        %th= t('activerecord.attributes.shared.sponsor_id')
        %th= t('activerecord.attributes.shared.accounting_payment_type_id')
        %th= t('activerecord.attributes.shared.amount')
        %th= t('activerecord.attributes.shared.staff_id')
        %th= t('activerecord.attributes.shared.note')
        %th
        %th
        %th

      - @accounting_payments.each do |accounting_payment|
        %tr
          %td= accounting_payment.d_sponsor_id
          %td= accounting_payment.d_accounting_payment_type_id
          %td= accounting_payment.d_amount
          %td= accounting_payment.d_staff_id
          %td= accounting_payment.d_note
          %td= link_to t('views.nav.show'), accounting_payment
          %td= link_to t('views.nav.edit'), edit_accounting_payment_path(accounting_payment)
          %td= link_to t('views.nav.destroy'), accounting_payment, :method => :delete, :data => { :confirm => t('prompts.destroy_record') }

    %br

    = link_to t('views.nav.new'), new_accounting_payment_path
