.portal.show
  .row
    .portal.show.columns-left
    .portal.show.columns-center
    %p#notice= notice
    %h1= t('views.accounting_payments.show.title')

    %table.table-settings

      %tr
        %td.caption
          = t('activerecord.attributes.shared.sponsor_id')
        %td.information
          = @accounting_payment.d_sponsor_id
      %tr
        %td.caption
          = t('activerecord.attributes.shared.accounting_payment_type_id')
        %td.information
          = @accounting_payment.d_accounting_payment_type_id
      %tr
        %td.caption
          = t('activerecord.attributes.shared.amount')
        %td.information
          = @accounting_payment.d_amount
      %tr
        %td.caption
          = t('activerecord.attributes.shared.staff_id')
        %td.information
          = @accounting_payment.d_staff_id
      %tr
        %td.caption
          = t('activerecord.attributes.shared.note')
        %td.information
          = @accounting_payment.d_note

    = link_to t('views.nav.edit'), edit_accounting_payment_path(@accounting_payment), { id: 'link_show_edit'}
    \|
    = link_to t('views.nav.back'), accounting_payments_path, { class: 'link_show_back'}
    .portal.show.columns-right