%p Sponsors who have recently used the system

%table
  %tr
    %th Sponsor
    %th Last visit

  - @sponsors.each do |sponsor|
    %tr
      %td= link_to sponsor.business_name, sponsor
      %td= sponsor.d_last_sign_in_at_formatted