@import 'bower_components/foundation/scss/normalize';
@import 'bower_components/foundation/scss/foundation';

$my-color: #FF0000;
$ad-template-background-color: #E0EEEE;

$template-content: 'small-10 columns';
$template-menu: 'small-2 columns';

html, body {
  margin: 0px;
  color: #000000;
}

// Used for menus
.active {
  background-color: AliceBlue;
}

.text-red {
  color: #FF0000;
}

.topic-panel {
  background-color: AliceBlue;
  height: 400px;
}

.navigation{
 color: $my-color;
// color: #FF0000;
width:20%;
}

.outlet-style{
  margin:20px;
}

.template-content{
  @extend .small-10;
  @extend .columns;
}

.tempalte-menu{
  @extend .small-2;
  @extend .columns;
}

.ad-template{
  margin-top:48px;
  height:90px;
  width:100%;
  background-color: $ad-template-background-color;
}

.map{
  width:80%;
}

.map-canvas {
  /*width: 800px;
  height: 600px;*/
}
