= simple_form_for(@sponsors_portal) do |f|
  = f.error_notification

  .form-inputs
    = f.input :sponsor_id
    = f.input :portal_setting_id
    = f.input :disabled

  .form-actions
    = f.button :submit
