.portal.edit
  .row
    %h1= t('views.sponsors_portals.edit.title')

    = render 'form'

    = link_to t('views.nav.show'), @sponsors_portal
    \|
    = link_to t('views.nav.back'), sponsors_portals_path
