.portal.index
  .row
    %h1= t('views.sponsors_portals.index.title')

    %table
      %tr
        %th= t('activerecord.attributes.shared.sponsor_id')
        %th= t('activerecord.attributes.shared.portal_setting_id')
        %th= t('activerecord.attributes.shared.disabled')
        %th
        %th
        %th

      - @sponsors_portals.each do |sponsors_portal|
        %tr
          %td= sponsors_portal.d_sponsor_id
          %td= sponsors_portal.d_portal_setting_id
          %td= sponsors_portal.d_disabled
          %td= link_to t('views.nav.show'), sponsors_portal
          %td= link_to t('views.nav.edit'), edit_sponsors_portal_path(sponsors_portal)
          %td= link_to t('views.nav.destroy'), sponsors_portal, :method => :delete, :data => { :confirm => t('prompts.destroy_record') }

    %br

    = link_to t('views.nav.new'), new_sponsors_portal_path
