.portal.show
  .row
    .portal.show.columns-left
    .portal.show.columns-center
    %p#notice= notice
    %h1= t('views.sponsors_portals.show.title')

    %table.table-settings

      %tr
        %td.caption
          = t('activerecord.attributes.shared.sponsor_id')
        %td.information
          = @sponsors_portal.d_sponsor_id
      %tr
        %td.caption
          = t('activerecord.attributes.shared.portal_setting_id')
        %td.information
          = @sponsors_portal.d_portal_setting_id
      %tr
        %td.caption
          = t('activerecord.attributes.shared.disabled')
        %td.information
          = @sponsors_portal.d_disabled

    = link_to t('views.nav.edit'), edit_sponsors_portal_path(@sponsors_portal), { id: 'link_show_edit'}
    \|
    = link_to t('views.nav.back'), sponsors_portals_path, { class: 'link_show_back'}
    .portal.show.columns-right
