<form {{action "save" on="submit"}}>
  <table>
    <tr>
      <td>Business:</td><td>{{input value=model.businessName}}</td>
    </tr>
    <tr>
      <td>First name:</td><td>{{input value=model.firstName}}</td>
    </tr>
    <tr>
      <td>Last name:</td><td>{{input value=model.lastName}}</td>
    </tr>
  </table>
  <p>
    <label>First Name:
      {{input value=model.firstName}}
    </label>
  </p>
  <p>
    <label>Last Name:
      {{input value=model.lastName }}
    </label>
  </p>
  <p>
    <label>Email:
      {{input value=model.email}}
    </label>
  </p>
  <p>
    <label>twitter
      {{!input value=model.twitter}}
    </label>
  </p>
  <input type="submit" value="Save"/>
  <button {{action "cancel"}}>Cancel</button>
</form>
