.row
  .small-12.columns
    -#This is where the list of sponsored home owners go.
    -#= @prospects.inspect
    %h4 Participants
    %table.responsive
      %tr
        %th Email
        %th Name
        %th # visits
        %th Last visit
        %th Tax value
        %th Last CMA

      - @prospects.each do |prospect|
        %tr
          %td= prospect.user.email
          %td= "#{prospect.user.last_name}, #{prospect.user.first_name}"
          %td= prospect.user.sign_in_count
          %td= prospect.user.last_sign_in_at.strftime("%m/%d/%Y")
          %td= '$116,700.00'
          %td= '$124,600.00'