= simple_form_for(@sponsor) do |f|
  = f.error_notification

  .form-inputs
    -#= f.input :campaign_id
    -# = f.input :lookups_industry_id
    -# = f.input :sponsors_type_id
    = f.input :license_number
    = f.input :license_email
    = f.input :business_name
    = f.input :website
    = f.input :first_name
    = f.input :last_name
    = f.input :primary_phone
    = f.input :address_1
    = f.input :address_2
    = f.input :city
    = f.collection_select :lookups_state_id, Lookups::State.all, :id, :abbreviated_name
    = f.input :zipcode
    -# = f.input :notes

  .form-actions
    = f.button :submit
