.portal.edit
  .row
    .sponsor-ad
      .p [ Sponsor advertisement is displayed here ]

    .small-4.small-centered.columns
      %h3= t('views.sponsors.edit.title')

      = render 'form'
      -#-unless @section.blank?
      -#  -if @section == 'account'
      -#    = render 'sponsors/forms/form_contact'
      -#
      -#  -elsif @section == 'license'
      -#    = render 'sponsors/forms/form_license'
      -#
      -#  -elsif @section == 'contact'
      -#    = render 'sponsors/forms/form_contact'

      -# = link_to t('views.nav.show'), @sponsor
      -# \|
      = link_to t('views.nav.cancel'), sponsors_portals_myportal_path(@current_sponsor.id)
