.portal.index
  .row
    .small-8.columns
      %h1= t('views.sponsors.index.title')

      %table
        %tr
          %th= t('activerecord.attributes.shared.campaign_id')
          %th= t('activerecord.attributes.shared.user_name')
          %th= t('activerecord.attributes.shared.license_number')
          %th= t('activerecord.attributes.shared.license_email')
          %th= t('activerecord.attributes.shared.business_name')
          %th= t('activerecord.attributes.shared.primary_phone')
          %th= t('activerecord.attributes.shared.city')


        - @sponsors.each do |sponsor|
          %tr
            %td= sponsor.d_campaign_id
            %td= link_to sponsor.d_user_name, sponsor
            %td= sponsor.d_license_number
            %td= sponsor.d_license_email
            %td= sponsor.d_user_name
            %td= sponsor.d_primary_phone
            %td= sponsor.d_city
            -#%td= link_to t('views.nav.show'), sponsor
            -#%td= link_to t('views.nav.edit'), edit_sponsor_path(sponsor)
            -#%td= link_to t('views.nav.destroy'), sponsor, :method => :delete, :data => { :confirm => t('prompts.destroy_record') }

      %br

      = link_to t('views.nav.new'), new_sponsor_path
