.portal.new
  .row
    .sponsor-ad
      .p [ Sponsor advertisement is displayed here ]
  .row
    %h4=t('views.sponsors.new.title')

    = render 'form'

    = link_to t('views.nav.back'), sponsors_path
