.portal.show
  .row
    .small-6.small-centered.columns
      %p#notice= notice
      %h3= t('views.sponsors.show.title')


      -# = render 'sponsors/partials/display_account'
      -# %p
      -#
      -# = render 'sponsors/partials/display_license'
      -# -# Edit license info
      -# = link_to t('views.nav.edit'), edit_sponsor_path(@sponsor,{section: 'license'}), { id: 'link_show_edit'}
      -# %p
      -#
      -# -#= render 'sponsors/partials/display_contact'
      -# = link_to t('views.nav.edit'), edit_sponsor_path(@sponsor,{section: 'contact'}), { id: 'link_show_edit'}
      -# %p


      %table.table-settings

        %tr
          %td.caption
            = t('activerecord.attributes.shared.sponsors_type_title')
          %td.information
            = @sponsor.d_sponsors_type_title
        %tr
          %td.caption
            = t('activerecord.attributes.shared.sponsors_level_title')
          %td.information
            = @sponsor.d_sponsors_level_title
        %tr
          %td.caption
            = t('activerecord.attributes.shared.business_name')
          %td.information
            = @sponsor.d_business_name
          %tr
            %td.caption
              = t('activerecord.attributes.shared.user_name')
            %td.information
              = @sponsor.d_user_name
          %tr
            %td.caption
              = t('activerecord.attributes.shared.account_email')
            %td.information
              = @sponsor.d_email
          %tr
            %td.caption
              = t('activerecord.attributes.shared.primary_phone')
            %td.information
              = @sponsor.d_primary_phone
          %tr
            %td.caption
              = t('activerecord.attributes.shared.address_1')
            %td.information
              = @sponsor.d_address_1
          %tr
            %td.caption
              = t('activerecord.attributes.shared.address_2')
            %td.information
              = @sponsor.d_address_2
          %tr
            %td.caption
              = t('activerecord.attributes.shared.city')
            %td.information
              = @sponsor.d_city
          %tr
            %td.caption
              = t('activerecord.attributes.shared.lookups_state_id')
            %td.information
              = @sponsor.d_state_abbreviated_name
          %tr
            %td.caption
              = t('activerecord.attributes.shared.zipcode')
            %td.information
              = @sponsor.d_zipcode
          %tr
            %td.caption
              = t('activerecord.attributes.shared.website')
            %td.information
              = @sponsor.d_website
          %tr
            %td.caption
              = t('activerecord.attributes.shared.business_name')
            %td.information
              = @sponsor.d_business_name
          %tr
            %td.caption
              = t('activerecord.attributes.shared.first_name')
            %td.information
              = @sponsor.d_first_name
          %tr
            %td.caption
              = t('activerecord.attributes.shared.last_name')
            %td.information
              = @sponsor.d_last_name
          %tr
            %td.caption
              = t('activerecord.attributes.shared.license_number')
            %td.information
              = @sponsor.d_license_number
          %tr
            %td.caption
              = t('activerecord.attributes.shared.license_email')
            %td.information
              = @sponsor.d_license_email


    = link_to t('views.nav.edit'), edit_sponsor_path(@sponsor), { id: 'link_show_edit'}
    \|
    = link_to t('views.nav.back'), sponsors_path, { class: 'link_show_back'}
    .portal.show.columns-right
