.row


  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|

    = f.error_notification

    .form-inputs.small-6.columns
      %h2 Sign up
      = f.input :email, required: true, autofocus: true
      = f.input :password, required: true
      = f.input :password_confirmation, required: true

      .form-actions
        = f.button :submit, "Sign up"

        = render "devise/shared/links"
