= simple_form_for(@advertisements_mechanical) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :description
    = f.input :display_width
    = f.input :display_height
    = f.input :symbol_name
    = f.input :archived

  .form-actions
    = f.button :submit
