.portal.edit
  .row
    %h1= t('views.advertisements_mechanicals.edit.title')

    = render 'form'

    = link_to t('views.nav.show'), @advertisements_mechanical
    \|
    = link_to t('views.nav.back'), advertisements_mechanicals_path
