.portal.index
  .row
    %h1= t('views.advertisements_mechanicals.index.title')

    %table
      %tr
        %th= t('activerecord.attributes.shared.title')
        %th= t('activerecord.attributes.shared.description')
        %th= t('activerecord.attributes.shared.display_width')
        %th= t('activerecord.attributes.shared.display_height')
        %th= t('activerecord.attributes.shared.symbol_name')
        %th= t('activerecord.attributes.shared.archived')
        %th
        %th
        %th

      - @advertisements_mechanicals.each do |advertisements_mechanical|
        %tr
          %td= advertisements_mechanical.d_title
          %td= advertisements_mechanical.d_description
          %td= advertisements_mechanical.d_display_width
          %td= advertisements_mechanical.d_display_height
          %td= advertisements_mechanical.d_symbol_name
          %td= advertisements_mechanical.d_archived
          %td= link_to t('views.nav.show'), advertisements_mechanical
          %td= link_to t('views.nav.edit'), edit_advertisements_mechanical_path(advertisements_mechanical)
          %td= link_to t('views.nav.destroy'), advertisements_mechanical, :method => :delete, :data => { :confirm => t('prompts.destroy_record') }

    %br

    = link_to t('views.nav.new'), new_advertisements_mechanical_path
