.portal.show
  .row
    .portal.show.columns-left
    .portal.show.columns-center
    %p#notice= notice
    %h1= t('views.advertisements_mechanicals.show.title')

    %table.table-settings

      %tr
        %td.caption
          = t('activerecord.attributes.shared.title')
        %td.information
          = @advertisements_mechanical.d_title
      %tr
        %td.caption
          = t('activerecord.attributes.shared.description')
        %td.information
          = @advertisements_mechanical.d_description
      %tr
        %td.caption
          = t('activerecord.attributes.shared.display_width')
        %td.information
          = @advertisements_mechanical.d_display_width
      %tr
        %td.caption
          = t('activerecord.attributes.shared.display_height')
        %td.information
          = @advertisements_mechanical.d_display_height
      %tr
        %td.caption
          = t('activerecord.attributes.shared.symbol_name')
        %td.information
          = @advertisements_mechanical.d_symbol_name
      %tr
        %td.caption
          = t('activerecord.attributes.shared.archived')
        %td.information
          = @advertisements_mechanical.archived

    = link_to t('views.nav.edit'), edit_advertisements_mechanical_path(@advertisements_mechanical), { id: 'link_show_edit'}
    \|
    = link_to t('views.nav.back'), advertisements_mechanicals_path, { class: 'link_show_back'}
    .portal.show.columns-right
