= simple_form_for(@statistics_visit) do |f|
  = f.error_notification

  .form-inputs
    = f.input :user_id
    = f.input :sponsors_sponsor_id
    = f.input :marketing_campaign_id
    = f.input :session_id
    = f.input :statistics_device_id

  .form-actions
    = f.button :submit
