.portal.edit
  .row
    %h1= t('views.statistics_visits.edit.title')

    = render 'form'

    = link_to t('views.nav.show'), @statistics_visit
    \|
    = link_to t('views.nav.back'), statistics_visits_path
