.portal.index
  .row
    %h1= t('views.statistics_visits.index.title')

    %table
      %tr
        %th= t('activerecord.attributes.shared.user_id')
        %th= t('activerecord.attributes.shared.sponsors_sponsor_id')
        %th= t('activerecord.attributes.shared.marketing_campaign_id')
        %th= t('activerecord.attributes.shared.session_id')
        %th= t('activerecord.attributes.shared.statistics_device_id')
        %th
        %th
        %th

      - @statistics_visits.each do |statistics_visit|
        %tr
          %td= statistics_visit.d_user_id
          %td= statistics_visit.d_sponsors_sponsor_id
          %td= statistics_visit.d_marketing_campaign_id
          %td= statistics_visit.d_session_id
          %td= statistics_visit.d_statistics_device_id
          %td= link_to t('views.nav.show'), statistics_visit
          %td= link_to t('views.nav.edit'), edit_statistics_visit_path(statistics_visit)
          %td= link_to t('views.nav.destroy'), statistics_visit, :method => :delete, :data => { :confirm => t('prompts.destroy_record') }

    %br

    = link_to t('views.nav.new'), new_statistics_visit_path
