.portal.show
  .row
    .portal.show.columns-left
    .portal.show.columns-center
    %p#notice= notice
    %h1= t('views.statistics_visits.show.title')

    %table.table-settings

      %tr
        %td.caption
          = t('activerecord.attributes.shared.user_id')
        %td.information
          = @statistics_visit.d_user_id
      %tr
        %td.caption
          = t('activerecord.attributes.shared.sponsors_sponsor_id')
        %td.information
          = @statistics_visit.d_sponsors_sponsor_id
      %tr
        %td.caption
          = t('activerecord.attributes.shared.marketing_campaign_id')
        %td.information
          = @statistics_visit.d_marketing_campaign_id
      %tr
        %td.caption
          = t('activerecord.attributes.shared.session_id')
        %td.information
          = @statistics_visit.d_session_id
      %tr
        %td.caption
          = t('activerecord.attributes.shared.statistics_device_id')
        %td.information
          = @statistics_visit.d_statistics_device_id

    = link_to t('views.nav.edit'), edit_statistics_visit_path(@statistics_visit), { id: 'link_show_edit'}
    \|
    = link_to t('views.nav.back'), statistics_visits_path, { class: 'link_show_back'}
    .portal.show.columns-right