= simple_form_for(@advertisements_group) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :description
    = f.label t('activerecord.attributes.shared.advertisement_group')
    = f.collection_select :sponsors_type_id, Sponsors::Type.all, :id, :title
    = f.input :archived

  .form-actions
    = f.button :submit
