.portal.edit
  .row
    %h1= t('views.advertisements_groups.edit.title')

    = render 'form'

    = link_to t('views.nav.show'), @advertisements_group
    \|
    = link_to t('views.nav.back'), advertisements_groups_path
