.portal.index
  .row
    %h1= t('views.advertisements_groups.index.title')

    %table
      %tr
        %th= t('activerecord.attributes.shared.title')
        %th= t('activerecord.attributes.shared.description')
        %th= t('activerecord.attributes.shared.sponsor_type')
        %th= t('activerecord.attributes.shared.archived')
        %th
        %th
        %th

      - @advertisements_groups.each do |advertisements_group|
        %tr
          %td= advertisements_group.d_title
          %td= advertisements_group.d_description
          %td= advertisements_group.d_sponsor_type_title
          %td= advertisements_group.d_archived
          %td= link_to t('views.nav.show'), advertisements_group
          %td= link_to t('views.nav.edit'), edit_advertisements_group_path(advertisements_group)
          %td= link_to t('views.nav.destroy'), advertisements_group, :method => :delete, :data => { :confirm => t('prompts.destroy_record') }

    %br

    = link_to t('views.nav.new'), new_advertisements_group_path
