.portal.show
  .row
    .portal.show.columns-left
    .portal.show.columns-center
    %p#notice= notice
    %h1= t('views.advertisements_groups.show.title')

    %table.table-settings

      %tr
        %td.caption
          = t('activerecord.attributes.shared.title')
        %td.information
          = @advertisements_group.d_title
      %tr
        %td.caption
          = t('activerecord.attributes.shared.description')
        %td.information
          = @advertisements_group.d_description
      %tr
        %td.caption
          = t('activerecord.attributes.shared.sponsor_type')
        %td.information
          = @advertisements_group.d_sponsor_type_title
      %tr
        %td.caption
          = t('activerecord.attributes.shared.archived')
        %td.information
          = @advertisements_group.d_archived

    = link_to t('views.nav.edit'), edit_advertisements_group_path(@advertisements_group), { id: 'link_show_edit'}
    \|
    = link_to t('views.nav.back'), advertisements_groups_path, { class: 'link_show_back'}
    .portal.show.columns-right
