.row
  .small-6.columns
    system form
    = simple_form_for(@advertisement) do |f|
      = f.error_notification

      .form-inputs
        = f.input :sponsor_id, as: :string, disabled: true
        = f.input :title
        = f.input :description
        -#= f.input :ad_type_id
        = f.label 'ad_position_id'
        = f.collection_select :ad_position_id, AdPosition.all, :id, :title

        = f.label 'ad_source_type_id Source of Artwork'
        = f.collection_select :ad_source_type_id, SourceType.all, :id, :title
        -#= f.label 'ad_type_id Which template would you like to use?'
        -#= f.collection_select :ad_type_id, AdType.all, :id, :title
        -#= f.input :ad_source_type_id
        -#= f.input :system_ad_id, as: :string

        = f.input :revision
        -#= f.label 'sponsor_ad_id Which one of your ads do you want to use?'
        -#= f.collection_select :sponsor_ad_id, SponsorAd.all, :id, :title
        = f.input :ad_partial_id
        = f.input :int_ref
        = f.input :archived
        = f.input :ad_image_id

      .form-actions
        = f.button :submit