%table.table-settings
  %caption Advertisement details (System)
  %tr
    %td
      %b Sponsor:
    %td
      = @advertisement.d_sponsor_business_name
  %tr
    %td
      %b Title:
    %td
      = @advertisement.title
  %tr
    %td
      %b Description:
    %td
      = @advertisement.description
  %tr
    %td
      %b Ad position:
    %td
      = @advertisement.ad_position.title
  %tr
    %td
      %b Ad source type:
    %td
      = @advertisement.d_ad_source_type_title
  %tr
    %td
      %b Ad partial:
    %td
      = @advertisement.ad_partial_id

  %tr
    %td
      %b Archived:
    %td
      = @advertisement.archived

