.row
  .small-1.columns
    %p
  .small-10.columns
    %h4 Advertisements

    %table.table-settings
      %tr
        %th Title
        -#%th Ad type
        %th Ad source
        %th Revision
        %th Position
        %th Archived
        -#%th
        -#%th
        -#%th

      - @advertisements.each do |advertisement|
        %tr
          %td= link_to advertisement.title, advertisement
          %td= advertisement.d_ad_source_type_title
          %td= advertisement.revision
          %td= advertisement.d_ad_position_title
          %td= advertisement.archived
          -#%td= link_to 'Show', advertisement
          -#%td= link_to 'Edit', edit_advertisement_path(advertisement)
          -#%td= link_to 'Destroy', advertisement, :method => :delete, :data => { :confirm => 'Are you sure?' }

    %br

    = link_to 'New Advertisement', new_advertisement_path
  .small-1.columns