.row
  .small-8.columns
    %p#notice= notice

    - if @advertisement.ad_source_type.int_ref.to_sym == :system
      = render 'advertisements/system/show'
    - else
      = render 'advertisements/custom/show'

    -#%table.table-settings
    -#  %caption Advertisement details
    -#  %tr
    -#    %td
    -#      %b Sponsor:
    -#    %td
    -#      = @advertisement.d_sponsor_business_name
    -#  %tr
    -#    %td
    -#      %b Title:
    -#    %td
    -#      = @advertisement.title
    -#  %tr
    -#    %td
    -#      %b Description:
    -#    %td
    -#      = @advertisement.description
    -#  %tr
    -#    %td
    -#      %b Ad position:
    -#    %td
    -#      = @advertisement.ad_position.title
    -#  %tr
    -#    %td
    -#      %b Ad source type:
    -#    %td
    -#      = @advertisement.d_ad_source_type_title
    -#  %tr
    -#    %td
    -#      %b Ad partial:
    -#    %td
    -#      = @advertisement.ad_partial
    -#
    -#  %tr
    -#    %td
    -#      %b Archived:
    -#    %td
    -#      = @advertisement.archived
    -#
    -#  %tr
    -#    %td
    -#      %b Preview:
    -#    %td
    -#      = @advertisement.ad_image.url(:preview)
    -#      = image_tag @advertisement.ad_image.url(:preview)

    = link_to 'Edit', edit_advertisement_path(@advertisement), { id: 'link_show_edit'}
    \|
    = link_to 'Back', advertisements_path, { class: 'link_show_back'}
