.portal.edit
  .row
    %h1= t('views.sponsors_levels.edit.title')

    = render 'form'

    = link_to t('views.nav.show'), @sponsors_level
    \|
    = link_to t('views.nav.back'), sponsors_levels_path
