.portal.index
  .row
    %h1= t('views.sponsors_levels.index.title')

    %table
      %tr
        %th= t('activerecord.attributes.shared.title')
        %th= t('activerecord.attributes.shared.description')
        %th= t('activerecord.attributes.shared.archived')
        %th
        %th
        %th

      - @sponsors_levels.each do |sponsors_level|
        %tr
          %td= sponsors_level.d_title
          %td= sponsors_level.d_description
          %td= sponsors_level.d_archived
          %td= link_to t('views.nav.show'), sponsors_level
          %td= link_to t('views.nav.edit'), edit_sponsors_level_path(sponsors_level)
          %td= link_to t('views.nav.destroy'), sponsors_level, :method => :delete, :data => { :confirm => t('prompts.destroy_record') }

    %br

    = link_to t('views.nav.new'), new_sponsors_level_path
