%h1 Sponsors::Welcome#new
%p Find me in app/views/sponsors/welcome/new.html.haml

.row
  %h4 Displays welcome message from sponsor
  %p
    -#Your sponsor is #{@sponsor.business_name}

.row
  %h4 Display benefits of becoming a Sponsor

.row
  %h4 Lets get started
  = link_to t('menus.sponsor.begin_sign_up'), new_sponsor_registration_path


