.portal.edit
  .row
    %h1= t('views.sponsors_styles.edit.title')

    = render 'form'

    = link_to t('views.nav.show'), @sponsors_style
    \|
    = link_to t('views.nav.back'), sponsors_styles_path
