.portal.index
  .row
    %h1= t('views.sponsors_styles.index.title')

    %table
      %tr
        %th= t('activerecord.attributes.shared.title')
        %th= t('activerecord.attributes.shared.description')
        %th= t('activerecord.attributes.shared.archived')
        %th
        %th
        %th

      - @sponsors_styles.each do |sponsors_style|
        %tr
          %td= sponsors_style.d_title
          %td= sponsors_style.d_description
          %td= sponsors_style.d_archived
          %td= link_to t('views.nav.show'), sponsors_style
          %td= link_to t('views.nav.edit'), edit_sponsors_style_path(sponsors_style)
          %td= link_to t('views.nav.destroy'), sponsors_style, :method => :delete, :data => { :confirm => t('prompts.destroy_record') }

    %br

    = link_to t('views.nav.new'), new_sponsors_style_path
