Appeal template
<div class='row'>
  <div class='small-10 columns topic-panel'>
    {{outlet}}
  </div>
  <div class='small-2 columns'>
    {{side-menu-appeal menuLoaded="sideMenuAppealLoaded" sideMenuLoaded="shortCircuitSideMenuLoaded"}}
  </div>
  <br/>
  {{setActiveMenu}}
  <br/>


</div>
