= simple_form_for(@sponsorships_consumer) do |f|
  = f.error_notification

  .form-inputs
    = f.input :sponsors_sponsor_id
    = f.input :user_id
    = f.input :marketing_campaign_id
    = f.input :start_date
    = f.input :end_date

  .form-actions
    = f.button :submit
