.portal.edit
  .row
    %h1= t('views.sponsorships_consumers.edit.title')

    = render 'form'

    = link_to t('views.nav.show'), @sponsorships_consumer
    \|
    = link_to t('views.nav.back'), sponsorships_consumers_path
