.portal.index
  .row
    %h1= t('views.sponsorships_consumers.index.title')

    %table
      %tr
        %th= t('activerecord.attributes.shared.sponsors_sponsor_id')
        %th= t('activerecord.attributes.shared.user_id')
        %th= t('activerecord.attributes.shared.marketing_campaign_id')
        %th= t('activerecord.attributes.shared.start_date')
        %th= t('activerecord.attributes.shared.end_date')
        %th
        %th
        %th

      - @sponsorships_consumers.each do |sponsorships_consumer|
        %tr
          %td= sponsorships_consumer.d_sponsors_sponsor_id
          %td= sponsorships_consumer.d_user_id
          %td= sponsorships_consumer.d_marketing_campaign_id
          %td= sponsorships_consumer.d_start_date
          %td= sponsorships_consumer.d_end_date
          %td= link_to t('views.nav.show'), sponsorships_consumer
          %td= link_to t('views.nav.edit'), edit_sponsorships_consumer_path(sponsorships_consumer)
          %td= link_to t('views.nav.destroy'), sponsorships_consumer, :method => :delete, :data => { :confirm => t('prompts.destroy_record') }

    %br

    = link_to t('views.nav.new'), new_sponsorships_consumer_path
