.portal.show
  .row
    .portal.show.columns-left
    .portal.show.columns-center
    %p#notice= notice
    %h1= t('views.sponsorships_consumers.show.title')

    %table.table-settings

      %tr
        %td.caption
          = t('activerecord.attributes.shared.sponsors_sponsor_id')
        %td.information
          = @sponsorships_consumer.d_sponsors_sponsor_id
      %tr
        %td.caption
          = t('activerecord.attributes.shared.user_id')
        %td.information
          = @sponsorships_consumer.d_user_id
      %tr
        %td.caption
          = t('activerecord.attributes.shared.marketing_campaign_id')
        %td.information
          = @sponsorships_consumer.d_marketing_campaign_id
      %tr
        %td.caption
          = t('activerecord.attributes.shared.start_date')
        %td.information
          = @sponsorships_consumer.d_start_date
      %tr
        %td.caption
          = t('activerecord.attributes.shared.end_date')
        %td.information
          = @sponsorships_consumer.d_end_date

    = link_to t('views.nav.edit'), edit_sponsorships_consumer_path(@sponsorships_consumer), { id: 'link_show_edit'}
    \|
    = link_to t('views.nav.back'), sponsorships_consumers_path, { class: 'link_show_back'}
    .portal.show.columns-right