.portal.edit
  .row
    %h1= t('views.<%= plural_table_name %>.edit.title')

    = render 'form'

    = link_to t('views.nav.show'), @<%= singular_table_name %>
    \|
    = link_to t('views.nav.back'), <%= index_helper %>_path
