.portal.index
  .row
    %h1= t('views.<%= plural_table_name %>.index.title')

    %table
      %tr
<% for attribute in attributes -%>
        %th= t('activerecord.attributes.shared.<%= attribute.name %>')
<% end -%>
        %th
        %th
        %th

      - @<%= plural_table_name %>.each do |<%= singular_table_name %>|
        %tr
<% for attribute in attributes -%>
          %td= <%= singular_table_name %>.d_<%= attribute.name %>
<% end -%>
          %td= link_to t('views.nav.show'), <%= singular_table_name %>
          %td= link_to t('views.nav.edit'), edit_<%= singular_table_name %>_path(<%= singular_table_name %>)
          %td= link_to t('views.nav.destroy'), <%= singular_table_name %>, :method => :delete, :data => { :confirm => t('prompts.destroy_record') }

    %br

    = link_to t('views.nav.new'), new_<%= singular_table_name %>_path
