.portal.show
  .row
    .portal.show.columns-left
    .portal.show.columns-center
    %p#notice= notice
    %h1= t('views.<%= plural_table_name %>.show.title')

    %table.table-settings

<% for attribute in attributes -%>
      %tr
        %td.caption
          = t('activerecord.attributes.shared.<%= attribute.name %>')
        %td.information
          = @<%= singular_table_name %>.d_<%= attribute.name %>
<% end -%>

    = link_to t('views.nav.edit'), edit_<%= singular_table_name %>_path(@<%= singular_table_name %>), { id: 'link_show_edit'}
    \|
    = link_to t('views.nav.back'), <%= index_helper %>_path, { class: 'link_show_back'}
    .portal.show.columns-right