%h1 Listing sponsor_details

%table
  %tr
    %th Sponsor
    %th Company name
    %th Contact last name
    %th Contact first name
    %th Phone 1
    %th Phone 2
    %th Website
    %th Email
    %th Tag line 1
    %th Tag line 2
    %th Welcome greeting
    %th Return greeting
    %th Logo filename
    %th Headshot filename
    %th
    %th
    %th

  - @sponsor_details.each do |sponsor_detail|
    %tr
      %td= sponsor_detail.sponsor_id
      %td= sponsor_detail.company_name
      %td= sponsor_detail.contact_last_name
      %td= sponsor_detail.contact_first_name
      %td= sponsor_detail.phone_1
      %td= sponsor_detail.phone_2
      %td= sponsor_detail.website
      %td= sponsor_detail.email
      %td= sponsor_detail.tag_line_1
      %td= sponsor_detail.tag_line_2
      %td= sponsor_detail.welcome_greeting
      %td= sponsor_detail.return_greeting
      %td= sponsor_detail.logo_filename
      %td= sponsor_detail.headshot_filename
      %td= link_to 'Show', sponsor_detail
      %td= link_to 'Edit', edit_sponsor_detail_path(sponsor_detail)
      %td= link_to 'Destroy', sponsor_detail, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Sponsor detail', new_sponsor_detail_path
