.row
  .small-6.columns
    %h4= t('views.sponsor_details.edit.title')

    = render 'form'

    = link_to t('views.nav.show'), @sponsor_detail
    \|
    = link_to t('views.nav.back'), sponsor_details_path
