.row
  .small-8.columns
    %p#notice= notice
    %h4= t('views.sponsor_details.show.title')
    %table.table-settings

      %tr
        %td.small-4
          %b= t('company_name')
        %td
          = @sponsor_detail.company_name
      %tr
        %td
          %b=  t('contact_last_name')
        %td
          = @sponsor_detail.contact_last_name
      %tr
        %td
          %b=  t('contact_first_name')
        %td
          = @sponsor_detail.contact_first_name
      %tr
        %td
          %b=  t('primary_phone_number')
        %td
          = @sponsor_detail.phone_1
      %tr
        %td
          %b=  t('secondary_phone_number')
        %td
          = @sponsor_detail.phone_2
      %tr
        %td
          %b= t('website')
        %td
          = @sponsor_detail.website
      %tr
        %td
          %b= t('email')
        %td
          = @sponsor_detail.website
      %tr
        %td
          %b= t('tag_line_1')
        %td
          =@sponsor_detail.tag_line_1
      %tr
        %td
          %b= t('tag_line_2')
        %td
          = @sponsor_detail.tag_line_2
      %tr
        %td
          %b= t('welcome_greeting')
        %td
          = @sponsor_detail.welcome_greeting
      %tr
        %td
          %b= t('return_greeting')
        %td
          = @sponsor_detail.return_greeting
      %tr
        %td
          %b= t('logo_filename')
        %td
          = @sponsor_detail.logo_filename
      %tr
        %td
          %b= t('headshot_filename')
        %td
          = @sponsor_detail.headshot_filename


    = link_to t('views.nav.edit'), edit_sponsor_detail_path(@sponsor_detail), { id: 'link_show_edit'}
    -#\|
    -#= link_to t('views.nav.back'), sponsor_details_path, { class: 'link_show_back'}
.row
  .small-3.columns
    %p