= simple_form_for(@advertisements_advertisement) do |f|
  = f.error_notification

  .form-inputs
    -#= f.input :sponsor_id
    = f.input :title
    = f.input :description
    = f.input :revision
    -#= f.label t('activerecord.attributes.shared.advertisement_source_id')
    -#= f.input :advertisements_source_id
    -# = f.collection_select :advertisements_source_id, Advertisements::Source.all, :id, :title
    -#= f.input :advertisements_position_id
    -# = f.label t('activerecord.attributes.shared.advertisement_position')
    -# = f.collection_select :advertisements_position_id, Advertisements::Position.all, :id, :title
    -#= f.input :advertisements_template_id
    = f.label t('activerecord.attributes.shared.advertisement_template')
    = f.collection_select :advertisements_template_id, Advertisements::Template.all, :id, :title
    -# = f.input :images_imgfile_id
    = f.input :archived

  .form-actions
    = f.button :submit
