.portal.show
  .row
    .portal.show.columns-left
    .portal.show.columns-center
    %p#notice= notice
    %h1= t('views.advertisements_advertisements.show.title')

    %table.table-settings

      %tr
        %td.caption
          = t('activerecord.attributes.shared.sponsor')
        %td.information
          = @advertisements_advertisement.d_sponsor_business_name
      %tr
        %td.caption
          = t('activerecord.attributes.shared.title')
        %td.information
          = @advertisements_advertisement.d_title
      %tr
        %td.caption
          = t('activerecord.attributes.shared.description')
        %td.information
          = @advertisements_advertisement.d_description
      %tr
        %td.caption
          = t('activerecord.attributes.shared.revision')
        %td.information
          = @advertisements_advertisement.d_revision
      -# %tr
      -#   %td.caption
      -#     = t('activerecord.attributes.shared.symbol_name')
      -#   %td.information
      -#     = @advertisements_advertisement.d_symbol_name
      -# %tr
      -#   %td.caption
      -#     = t('activerecord.attributes.shared.source')
      -#   %td.information
      -#     = @advertisements_advertisement.d_advertisements_source_title
      -# %tr
      -#   %td.caption
      -#     = t('activerecord.attributes.shared.advertisements_mechanical_title')
      -#   %td.information
      -#     = @advertisements_advertisement.d_advertisements_mechanical_title
      %tr
        %td.caption
          = t('activerecord.attributes.shared.template')
        %td.information
          -# = link_to @advertisements_advertisement.d_advertisements_template_title, edit_advertisements_template_path(@advertisements_advertisement.advertisements_template_id)
          = @advertisements_advertisement.d_advertisements_template_title_link
      %tr
        %td.caption
          = t('activerecord.attributes.shared.images_imgfile_id')
        %td.information
          = @advertisements_advertisement.d_images_imgfile_id
      %tr
        %td.caption
          = t('activerecord.attributes.shared.archived')
        %td.information
          = @advertisements_advertisement.d_archived

    = link_to t('views.nav.edit'), edit_advertisements_advertisement_path(@advertisements_advertisement), { id: 'link_show_edit'}
    \|
    = link_to t('views.nav.back'), advertisements_advertisements_path, { class: 'link_show_back'}
    .portal.show.columns-right
