invitations/invitation/template.hbs
<br/>
Business: {{model.businessName}}<br/>
Data from Application Controller: {{appData.appCtrlData2}}<br/>
Sponsor from Application Route: {{appData.model.title}}<br/>
Binding to application.controller.model: {{applicationModel}}<br/>
Binding to application.controller.model.body: {{applicationModelBody}}<br/>
Campaign ID: {{appData.model.campaignId}}<br/>
Sponsor ID: {{appData.model.sponsorId}}<br/>
{{outlet}}

{{input value=applicationModelBody}}
<button id="clear-completed" {{action "setApplicationTitle"}}>
  Clear completed ({{!completed}})
</button>
