.login-form
  .row
    %p
    %p
    -#.small-2.columns
    .small-4.small-centered.columns
      .h2 Log in

      = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .form-inputs
          = f.input :user_name, required: false, autofocus: true
          = f.input :password, required: false
          = f.input :remember_me, as: :boolean if devise_mapping.rememberable?


          .form-actions
            = f.button :submit, "Log in"



            = render "sponsors/shared/links"
