= simple_form_for(@lookups_state) do |f|
  = f.error_notification

  .form-inputs
    = f.input :fips_state
    = f.input :full_name
    = f.input :abbreviated_name

  .form-actions
    = f.button :submit
