.portal.edit
  .row
    %h1= t('views.lookups_states.edit.title')

    = render 'form'

    = link_to t('views.nav.show'), @lookups_state
    \|
    = link_to t('views.nav.back'), lookups_states_path
