.portal.index
  .row
    %h1= t('views.lookups_states.index.title')

    %table
      %tr
        %th= t('activerecord.attributes.shared.fips_state')
        %th= t('activerecord.attributes.shared.full_name')
        %th= t('activerecord.attributes.shared.abbreviated_name')
        %th
        %th
        %th

      - @lookups_states.each do |lookups_state|
        %tr
          %td= lookups_state.d_fips_state
          %td= lookups_state.d_full_name
          %td= lookups_state.d_abbreviated_name
          %td= link_to t('views.nav.show'), lookups_state
          %td= link_to t('views.nav.edit'), edit_lookups_state_path(lookups_state)
          %td= link_to t('views.nav.destroy'), lookups_state, :method => :delete, :data => { :confirm => t('prompts.destroy_record') }

    %br

    = link_to t('views.nav.new'), new_lookups_state_path
