.portal.show
  .row
    .portal.show.columns-left
    .portal.show.columns-center
    %p#notice= notice
    %h1= t('views.lookups_states.show.title')

    %table.table-settings

      %tr
        %td.caption
          = t('activerecord.attributes.shared.fips_state')
        %td.information
          = @lookups_state.d_fips_state
      %tr
        %td.caption
          = t('activerecord.attributes.shared.full_name')
        %td.information
          = @lookups_state.d_full_name
      %tr
        %td.caption
          = t('activerecord.attributes.shared.abbreviated_name')
        %td.information
          = @lookups_state.d_abbreviated_name

    = link_to t('views.nav.edit'), edit_lookups_state_path(@lookups_state), { id: 'link_show_edit'}
    \|
    = link_to t('views.nav.back'), lookups_states_path, { class: 'link_show_back'}
    .portal.show.columns-right