.portal.edit
  .row
    %h1= t('views.accounting_payment_types.edit.title')

    = render 'form'

    = link_to t('views.nav.show'), @accounting_payment_type
    \|
    = link_to t('views.nav.back'), accounting_payment_types_path
