.portal.index
  .row
    %h1= t('views.accounting_payment_types.index.title')

    %table
      %tr
        %th= t('activerecord.attributes.shared.name')
        %th= t('activerecord.attributes.shared.sort')
        %th
        %th
        %th

      - @accounting_payment_types.each do |accounting_payment_type|
        %tr
          %td= accounting_payment_type.d_name
          %td= accounting_payment_type.d_sort
          %td= link_to t('views.nav.show'), accounting_payment_type
          %td= link_to t('views.nav.edit'), edit_accounting_payment_type_path(accounting_payment_type)
          %td= link_to t('views.nav.destroy'), accounting_payment_type, :method => :delete, :data => { :confirm => t('prompts.destroy_record') }

    %br

    = link_to t('views.nav.new'), new_accounting_payment_type_path
