.portal.show
  .row
    .portal.show.columns-left
    .portal.show.columns-center
    %p#notice= notice
    %h1= t('views.accounting_payment_types.show.title')

    %table.table-settings

      %tr
        %td.caption
          = t('activerecord.attributes.shared.name')
        %td.information
          = @accounting_payment_type.d_name
      %tr
        %td.caption
          = t('activerecord.attributes.shared.sort')
        %td.information
          = @accounting_payment_type.d_sort

    = link_to t('views.nav.edit'), edit_accounting_payment_type_path(@accounting_payment_type), { id: 'link_show_edit'}
    \|
    = link_to t('views.nav.back'), accounting_payment_types_path, { class: 'link_show_back'}
    .portal.show.columns-right