
article#details {
    margin: 30px;
    width: 60%;
    float: left;
}

article#details a.edit {
    font-size: 15px;
    font-weight: normal;
    margin-left: 15px;
}

article#details .unsaved, article#details .saving {
    color: #b20000;
    display: inline-block;
    padding: 0 0 0 20px;
}

article#details .saving {
    color: #00d936;
}