
nav#sidebar {
    margin: 30px 35px 0 0;
    width: 25%;
    background: #f6f6f6;
    float: left;
    padding: 15px 20px 20px;
}

nav#sidebar h1 {
    font-size: 20px;
    padding-left: 6px;
    padding-bottom: 14px;
}

nav#sidebar h1 a {
    font-size: 15px;
    float: right;
    font-weight: normal;
    margin: 3px 0 0 0;
}

nav#sidebar input.search {
    width: 96%;
    margin: 0 0 12px 5px;
    padding: 2px 0 3px 3px;
}

nav#sidebar ul li {
    border-bottom: 1px solid #dddddd;
    padding: 8px 6px 10px;
    cursor: pointer;
}

nav#sidebar ul li:hover, nav#sidebar ul li.active {
    background: #f8e5ce;
}
