// These styles are used across the backend of the website

// .backend.index
// .backend.new
// .backend.edit
// .backend.show

.portal{
  background-color: lightyellow;
}

.portal.show.columns-left{
  .small-2.column{}
}
.portal.show.columns-center{
  .small-8.column{}
}
.portal.show.columns-right{
  .small-2.column{}
}