/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/



.portal.index{
    padding-left: 40px;
}

#test-form{
    padding-top: 40px;
    width: 200px;
}
