
.banner-container{
  max-width: 960px;
  max-height: 90px;
  background-color: green;
}

.banner-1 {

    display: block;
    margin: 4px,0px,0px,0px;
    font-family: Georgia, Times New Roman, Serif;
    font-size: 17px;
    font-weight: 300;
    color: #d7291c;
    font-style: italic;
}

.banner-2 {

  display: block;
  margin: 4px,0px,0px,0px;
  font-family: Georgia, Times New Roman, Serif;
  font-size: 17px;
  font-weight: 300;
  color: #0000ff;
  font-style: italic;
}


// article#details {
//   margin: 30px;
//   width: 60%;
//   float: left;
// }
//
// article#details a.edit {
//   font-size: 15px;
//   font-weight: normal;
//   margin-left: 15px;
// }
//
// article#details .unsaved, article#details .saving {
//   color: #b20000;
//   display: inline-block;
//   padding: 0 0 0 20px;
// }
//



// article#details .saving {
//   color: #00d936;
// }
