-# navigation styled for Zurb Foundation 5
%nav.top-bar{'data-topbar' =>'', role:'navigation'}
  %ul.title-area
    %li.name
      = link_to 'Home', '#' #sponsors_portals_myportal_path
    %li.toggle-topbar.menu-icon
      = link_to 'Menu', '#'
  %section.top-bar-section


    -# = render 'layouts/menus/sponsor/main_navigation_menu_links'
    -# %ul
    -#   -# %li
    -#   -#   = link_to 'About', '#', {'data-reveal-id' => 'sponsor-modal'}
    -#   %li.right
        -# = render 'layouts/menus/sponsor/sponsor_sign_in'

    - if sponsor_signed_in?

      %ul
        %li.has-dropdown
          = link_to 'Visitors', 'visitors'
          %ul.dropdown
            %li
              = link_to 'Today', '#'
            %li
              = link_to 'Last 7 Days', '#'
            %li
              = link_to 'Last 30 Days', '#'
            %li
              = link_to 'All', '#'

      %ul
        %li
          = link_to 'Advertisements', '/myportal/advertisements' #'/advertisements/advertisements/show'
          -# %ul.dropdown
          -#   %li
          -#     = link_to 'Review', '#'
          -#   %li
          -#     = link_to 'Update', '#'

      %ul
        %li
          = link_to 'Sponsor Details', '/myportal/details' #'/sponsors/details/show'
          -# %ul.dropdown
          -#   %li
          -#     = link_to 'Review', "/sponsors/details/#{current_sponsor.id}"
          -#   %li
          -#     = link_to 'Change', '#'

      %ul.right
        %li.has-dropdown
          = link_to "#{current_sponsor.email}", '#'
          %ul.dropdown
            %li
              = link_to 'Sign out', destroy_sponsor_session_path, {method: :delete, :class => 'navbar-link'}
            %li
              = link_to 'Change password', edit_sponsor_registration_path
            -# %li
            -#   = link_to 'Preferences', '#'

    - else
      %ul.right
        %li
          = link_to 'Sponsor Sign in', new_sponsor_session_path, {:class => 'navbar-link'}
