.portal.edit
  .row
    %h1= t('views.sponsors_types.edit.title')

    = render 'form'

    = link_to t('views.nav.show'), @sponsors_type
    \|
    = link_to t('views.nav.back'), sponsors_types_path
