.portal.index
  .row
    %h1= t('views.sponsors_types.index.title')

    %table
      %tr
        %th= t('activerecord.attributes.shared.title')
        %th= t('activerecord.attributes.shared.description')
        %th= t('activerecord.attributes.shared.archived')
        %th
        %th
        %th

      - @sponsors_types.each do |sponsors_type|
        %tr
          %td= sponsors_type.d_title
          %td= sponsors_type.d_description
          %td= sponsors_type.d_archived
          %td= link_to t('views.nav.show'), sponsors_type
          %td= link_to t('views.nav.edit'), edit_sponsors_level_path(sponsors_type)
          %td= link_to t('views.nav.destroy'), sponsors_type, :method => :delete, :data => { :confirm => t('prompts.destroy_record') }

    %br

    = link_to t('views.nav.new'), new_sponsors_type_path
