.portal.edit
  .row
    %h1= t('views.sponsors_franchises.edit.title')

    = render 'form'

    = link_to t('views.nav.show'), @sponsors_franchise
    \|
    = link_to t('views.nav.back'), sponsors_franchises_path
