.portal.index
  .row
    %h1= t('views.sponsors_franchises.index.title')

    %table
      %tr
        %th= t('activerecord.attributes.shared.title')
        %th= t('activerecord.attributes.shared.description')
        %th= t('activerecord.attributes.shared.archived')
        %th
        %th
        %th

      - @sponsors_franchises.each do |sponsors_franchise|
        %tr
          %td= sponsors_franchise.d_title
          %td= sponsors_franchise.d_description
          %td= sponsors_franchise.d_archived
          %td= link_to t('views.nav.show'), sponsors_franchise
          %td= link_to t('views.nav.edit'), edit_sponsors_franchise_path(sponsors_franchise)
          %td= link_to t('views.nav.destroy'), sponsors_franchise, :method => :delete, :data => { :confirm => t('prompts.destroy_record') }

    %br

    = link_to t('views.nav.new'), new_sponsors_franchise_path
