.portal.show
  .row
    .portal.show.columns-left
    .portal.show.columns-center
    %p#notice= notice
    %h1= t('views.sponsors_franchises.show.title')

    %table.table-settings

      %tr
        %td.caption
          = t('activerecord.attributes.shared.title')
        %td.information
          = @sponsors_franchise.d_title
      %tr
        %td.caption
          = t('activerecord.attributes.shared.description')
        %td.information
          = @sponsors_franchise.d_description
      %tr
        %td.caption
          = t('activerecord.attributes.shared.archived')
        %td.information
          = @sponsors_franchise.d_archived

    = link_to t('views.nav.edit'), edit_sponsors_franchise_path(@sponsors_franchise), { id: 'link_show_edit'}
    \|
    = link_to t('views.nav.back'), sponsors_franchises_path, { class: 'link_show_back'}
    .portal.show.columns-right