= simple_form_for(@lookups_county) do |f|
  = f.error_notification

  .form-inputs
    = f.input :full_name
    = f.input :fips_county
    = f.input :fips_state

  .form-actions
    = f.button :submit
