.portal.edit
  .row
    %h1= t('views.lookups_counties.edit.title')

    = render 'form'

    = link_to t('views.nav.show'), @lookups_county
    \|
    = link_to t('views.nav.back'), lookups_counties_path
