.portal.index
  .row
    %h1= t('views.lookups_counties.index.title')

    %table
      %tr
        %th= t('activerecord.attributes.shared.full_name')
        %th= t('activerecord.attributes.shared.fips_county')
        %th= t('activerecord.attributes.shared.fips_state')
        %th
        %th
        %th

      - @lookups_counties.each do |lookups_county|
        %tr
          %td= lookups_county.d_full_name
          %td= lookups_county.d_fips_county
          %td= lookups_county.d_fips_state
          %td= link_to t('views.nav.show'), lookups_county
          %td= link_to t('views.nav.edit'), edit_lookups_county_path(lookups_county)
          %td= link_to t('views.nav.destroy'), lookups_county, :method => :delete, :data => { :confirm => t('prompts.destroy_record') }

    %br

    = link_to t('views.nav.new'), new_lookups_county_path
