.portal.show
  .row
    .portal.show.columns-left
    .portal.show.columns-center
    %p#notice= notice
    %h1= t('views.lookups_counties.show.title')

    %table.table-settings

      %tr
        %td.caption
          = t('activerecord.attributes.shared.full_name')
        %td.information
          = @lookups_county.d_full_name
      %tr
        %td.caption
          = t('activerecord.attributes.shared.fips_county')
        %td.information
          = @lookups_county.d_fips_county
      %tr
        %td.caption
          = t('activerecord.attributes.shared.fips_state')
        %td.information
          = @lookups_county.d_fips_state

    = link_to t('views.nav.edit'), edit_lookups_county_path(@lookups_county), { id: 'link_show_edit'}
    \|
    = link_to t('views.nav.back'), lookups_counties_path, { class: 'link_show_back'}
    .portal.show.columns-right