.row
  .small-4.small-centered.columns
    .h2 Sign up

    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = f.error_notification

      .form-inputs
        = f.input :user_name, required: true, autofocus: true
        = f.input :email, required: true, autofocus: true
        = f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @validatable)
        = f.input :password_confirmation, required: true


      .form-actions
        = f.button :submit, "Sign up"



      = render "staffs/shared/links"
