= doajax = false unless (defined? doajax)

= simple_form_for(@test, remote: doajax) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :color

  .form-actions
    = f.button :submit
