%tr
  %td= @test.d_name
  %td= @test.d_color
  %td= link_to t('views.nav.show'), @test
  %td= link_to t('views.nav.edit'), edit_test_path(@test)
  %td= link_to t('views.nav.destroy'), @test, :method => :delete, :data => { :confirm => t('prompts.destroy_record') }