-#YouTube Video - http://www.youtube.com/watch?v=0nmAGkCuguY&app=desktop
-#$('#content ul').append(
-#    $('<li>').append(
-#        $('<a>').attr('href','/user/messages').append(
-#            $('<span>').attr('class', 'tab').append("Message center")
-#)));


-if @test.errors.any?
  $('div#errors').remove();
  $('<div id="errors"><p>Please correct the following #{pluralize(@test.errors.count, "error")}</p></div').insertBefore('div#remote-form');
  $('<ul>').insertAfter('div#errors p');
  -@test.errors.full_messages.each do |message|
    $('div#errors ul').append('<li>#{j message}</li>');

-else
  $('div#errors').remove();
  $("<tr><td>#{@test.name}</td><td>#{@test.color}</td><td>#{ j link_to t('views.nav.show'), @test}</td><td>#{ j link_to t('views.nav.edit'), edit_test_path(@test), remote: true}</td><td>#{ j link_to t('views.nav.destroy'), @test, :method => :delete, remote: true, :data => { :confirm => t('prompts.destroy_record') }}</td></tr>").insertAfter('tr#header_row');
  -#Hide the form
  $('#remote-form').hide();