$('#remote-form').html("#{ j render partial: 'form', remote: true, locals: {doajax: true} }");

$('#remote-form').show();

-#Set the focus to the name field
$('#test_name').focus();

-#= render partial: 'form', locals: {doajax: true}