.portal.index

  .row
    #remote-form
      -#%h2 Add new item
      -#= render partial: 'form', locals: {doajax: true}
      -#-#= render 'form'

  .row
    #index-table
      %h1= t('views.tests.index.title')
      %table
        %tr#header_row
          %th= t('activerecord.attributes.shared.name')
          %th= t('activerecord.attributes.shared.color')
          %th
          %th
          %th

        - @tests.each do |test|
          %tr{ id: test.id}
            %td= test.d_name
            %td= test.d_color
            %td= link_to t('views.nav.show'), test
            %td= link_to t('views.nav.edit'), edit_test_path(test), remote: true
            %td= link_to t('views.nav.destroy'), test, :method => :delete, remote: true, :data => { :confirm => t('prompts.destroy_record') }

      %br

      = link_to t('views.nav.new'), new_test_path, remote: true
      -#, remote: true

  .row
    #test-form




