.portal.show
  .row
    .portal.show.columns-left
    .portal.show.columns-center
    %p#notice= notice
    %h1= t('views.tests.show.title')

    %table.table-settings

      %tr
        %td.caption
          = t('activerecord.attributes.shared.name')
        %td.information
          = @test.d_name
      %tr
        %td.caption
          = t('activerecord.attributes.shared.color')
        %td.information
          = @test.d_color

    = link_to t('views.nav.edit'), edit_test_path(@test), { id: 'link_show_edit'}
    \|
    = link_to t('views.nav.back'), tests_path, { class: 'link_show_back'}
    .portal.show.columns-right