-# Remove the row
-#$('##{@test.id}').remove();

-# Hide the form
-#$('#remote-form').hide();


-if @test.errors.any?
  $('div#errors').remove();
  $('<div id="errors"><p>Please correct the following #{pluralize(@test.errors.count, "error")}</p></div').insertBefore('div#remote-form');
  $('<ul>').insertAfter('div#errors p');
  -@test.errors.full_messages.each do |message|
    $('div#errors ul').append('<li>#{j message}</li>');

-else
  $('div#errors').remove();
  -# Replace exiting row with the edited row
  $('##{@test.id}').html("<td>#{@test.name}</td><td>#{@test.color}</td><td>#{ j link_to t('views.nav.show'), @test}</td><td>#{ j link_to t('views.nav.edit'), edit_test_path(@test), remote: true}</td><td>#{ j link_to t('views.nav.destroy'), @test, :method => :delete, remote: true, :data => { :confirm => t('prompts.destroy_record') }}</td>")
  -# Original code below to add an entry
  -#$("<tr><td>#{@test.name}</td><td>#{@test.color}</td><td>#{ j link_to t('views.nav.show'), @test}</td><td>#{ j link_to t('views.nav.edit'), edit_test_path(@test), remote: true}</td><td>#{ j link_to t('views.nav.destroy'), @test, :method => :delete, remote: true, :data => { :confirm => t('prompts.destroy_record') }}</td></tr>").insertAfter('tr#header_row');
  -#Hide the form
  $('#remote-form').hide();