= simple_form_for(@accounting_status) do |f|
  = f.error_notification

  .form-inputs
    = f.label 'Sponsor'
    = f.collection_select :sponsors_sponsor_id, Sponsors::Sponsor.all, :id, :business_name
    -#= f.input :sponsors_sponsor_id
    = f.input :suspended
    = f.input :grace

  .form-actions
    = f.button :submit
