.portal.edit
  .row
    %h1= t('views.accounting_statuses.edit.title')

    = render 'form'

    = link_to t('views.nav.show'), @accounting_status
    \|
    = link_to t('views.nav.back'), accounting_statuses_path
