.portal.index
  .row
    %h1= t('views.accounting_statuses.index.title')

    %table
      %tr
        %th= t('activerecord.attributes.shared.business_name')
        %th= t('activerecord.attributes.shared.suspended')
        %th= t('activerecord.attributes.shared.grace')
        %th
        %th
        %th

      - @accounting_statuses.each do |accounting_status|
        %tr
          %td= accounting_status.d_sponsors_sponsor_business_name
          %td= accounting_status.d_suspended
          %td= accounting_status.d_grace
          %td= link_to t('views.nav.show'), accounting_status
          %td= link_to t('views.nav.edit'), edit_accounting_status_path(accounting_status)
          %td= link_to t('views.nav.destroy'), accounting_status, :method => :delete, :data => { :confirm => t('prompts.destroy_record') }

    %br

    = link_to t('views.nav.new'), new_accounting_status_path
