.portal.show
  .row
    .portal.show.columns-left
    .portal.show.columns-center
    %p#notice= notice
    %h1= t('views.accounting_statuses.show.title')

    %table.table-settings

      %tr
        %td.caption
          = t('activerecord.attributes.shared.business_name')
        %td.information
          = @accounting_status.d_sponsors_sponsor_business_name
      %tr
        %td.caption
          = t('activerecord.attributes.shared.suspended')
        %td.information
          = @accounting_status.d_suspended
      %tr
        %td.caption
          = t('activerecord.attributes.shared.grace')
        %td.information
          = @accounting_status.d_grace

    = link_to t('views.nav.edit'), edit_accounting_status_path(@accounting_status), { id: 'link_show_edit'}
    \|
    = link_to t('views.nav.back'), accounting_statuses_path, { class: 'link_show_back'}
    .portal.show.columns-right