.portal.edit
  .row
    .small-6.small-center.columns
      %h1= t('views.advertisements_advertisements.edit.title')

      = render 'form'

      = link_to t('views.nav.show'), @advertisements_advertisement
      \|
      = link_to t('views.nav.back'), advertisements_advertisements_path
